.Cnav-menu-btn{width: 220px; height: 40px; display: inline-block;  background-color: #E03642; float: left; line-height: 40px; text-align: center; color:#fff; font-size: 14px; font-weight: bold;}
.Cnav-menu-btn>a{color:#fff !important; cursor: default;}
.Cnav-menu-btn.active { background-color: #d62340;}
.Cnav-menu-btn i{ display: inline-block; width: 10px; height: 6px; background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat 0 0; vertical-align: middle; margin-left: 5px;transition: transform .2s;}
.Cnav-menu-btn.active .float-list{ box-shadow: 0 0 10px #999; height:598px; opacity: 1; background:#fff;}
.Cnav-menu-btn.active dl>dt{ height: 96px; padding: 14px 0px 2px 0px; border-bottom: 1px solid #eee;}
.Cnav-menu-btn.active i{ transform: rotate(180deg); }
.Cnav-menu-btn.active .class-more-btn{display: block;}


.class-more-btn,.class-more-tips{ width: 100%; transition: height .2s;  height:33px; overflow:hidden; float: left; line-height: 33px; color: #999; font-size: 12px; text-align: center; }
.class-more-btn{display: none;}

.class-more-tips i{width:23px; height: 13px; display: inline-block; margin-top: 10px;}

/* 分类 */
.fl-main{position:relative;width:1000px;height:0px;margin:0 auto;z-index:49; text-align: left;}
.float-list{position:absolute; box-shadow: 0 0 7px #ccc; background-color:#f7f7f7; z-index:96; left:0; top:0px;  width:220px; height:0;  display:block; transition: height .2s,box-shadow .2s,opacity .2s;}
.float-list .float-list-btn{display:none;position:relative;z-index:95;width:220px;height:40px; text-align:center;font:bold 14px/40px '\5B8B\4F53'!important;color:#333!important;cursor:pointer;letter-spacing:1px;}
.float-list-btn i{position:absolute;top:14px;left:42px;width:17px; height:13px; background-position:-448px -435px;}
.float-list-btn b{position:absolute;top:0;left:0;width:8px;height:8px;background-position:-85px -53px;overflow:hidden; display:none;}
.float-list dl{position:relative;float:left;z-index:94;clear:both; width: 100%;}
.float-list dl.on{}
.float-list dl a:hover{color:#f52648;}
.float-list dl dt{display:inline;position:relative;float:left;width:189px; padding: 14px 0px 2px 0px; margin:0 7px 0 14px; line-height:22px;overflow:hidden;  height:96px;}
.float-list dl dt a{padding:0 6px 0 0; width:30%;color:#666; line-height: 26px; font-weight: normal; font-size:13px;table-layout:fixed;white-space:nowrap; float:left;font-family: "microsoft yahei";}
.float-list dl dt strong{float:left;width:100%; display:block; height:22px;line-height:22px;margin:0 0 5px; overflow:hidden;color:#333;font-size:14px;font-family:'\5B8B\4F53'; font-weight:bold;font-family: "microsoft yahei";}

.float-list dl dt strong a{color:#000;font-size:14px;font-family:'\5B8B\4F53';line-height:18px;}
.float-list dl dt p{clear:both;height:72px;padding:0 0 0 5px;line-height:24px;overflow:hidden;}
.float-list .minp{clear:both;width:200px; margin:0 10px;overflow:hidden;z-index:100; background:#fff; }
.float-list .minp a{color:#000;}
.float-list .minp a.float-list-s1,.float-list .minp a.float-list-s2{}
.float-list .minp a.float-list-s2{text-indent:32px;background-position:7px 10px;}
.float-list .minp a:hover{ color:#f52648}
/*.float-list-s1:hover{color:#c29721;background-position:-305px -190px;}
.float-list-s2:hover{color:#c29721;background-position:-311px -272px;}*/
.float-list dl dd{display:none;position: absolute;top:0px;left:220px;background:#fff;color:#000; box-shadow: 2px 2px 3px #999; }
.float-list dl dd{width:692px;padding:0 0 20px;}
.float-list dl dd a{color:#666;white-space:nowrap; table-layout:fixed; font-family: "microsoft yahei";}
.float-list dl dd ul{display:inline;float:left;width:316px;margin:10px 5px 0 20px;line-height:24px;overflow:hidden;}

.float-list dl dd ul strong{width:70px; display:inline-block;   margin:0 0 7px; float: left; }
.float-list dl dd ul strong a{color:#000; font-size: 13px; font-weight:bold; line-height: 33px; }
.float-list dl dd ul .float-list-cont a{margin:0 14px 0 0; line-height: 25px; display:inline-block; font-weight: normal; font-size: 13px; color:#999;}
.float-list dl dd ul .float-list-cont b{font-weight: normal;}
.float-list dl dd ul .float-list-cont .dashed{display:block;margin:7px 0;height:0;overflow:hidden;border-bottom:1px  solid #e9e9e9;}
.float-list-cont{display: inline-block; width: 240px;  border-bottom: 1px #ccc dotted; float: left; padding:4px 0 6px 0; }
.float-list dl dd ul li{margin:0 0 5px; display:inline-block;}

.float-list-hot{float:right;width:220px;padding:0 20px 0 0;overflow:hidden;}
.float-list-hot img{float:right;width:220px;height:120px;margin:20px 0 0;}
.float-list textarea{display:none;}

.float-list dl dd .abarea{overflow:hidden;}
.float-list dl dd .abarea h2{font:bold 14px/35px "Microsoft YaHei";height:35px;color:#f52648;clear: both; text-align:center;}
.float-list dl dd .abarea ul{ overflow:hidden;zoom:1; margin:20px 10px 10px; width:672px; padding-bottom:2px;}
.float-list dl dd .abarea ul li{width:78px; height:40px; margin:5px 17px; float:left; border:#fafafa;  }
.float-list dl dd .abarea ul li a{width:78px; height:40px; border:1px solid #fafafa;display: inline-block;}
.float-list dl dd .abarea ul li a img{ width:78px; height:40px;}
.float-list dl dd .abarea ul li a:hover{ border:1px solid #f52648;}


.float-list{opacity: 0;}
.float-list dl>dt{height: 0; padding: 0; transition: height .2s;}

.float-list dl:hover{ background-color: #fff;}
.float-list dl:hover dd{display:block !important;}




.class-1 i,.class-2 i,.class-3 i,.class-4 i,.class-5 i{ background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat; display: inline-block; vertical-align: middle; margin-right: 10px; margin-left: 5px;}
.class-1 i{ width: 13px; height: 18px; background-position: -14px 0;}
.class-2 i{ width: 16px; height: 19px; background-position: -27px 0;}
.class-3 i{ width: 11px; height: 20px; background-position: -43px 0;}
.class-4 i{ width: 19px; height: 20px; background-position: -54px 0;}
.class-5 i{ width: 20px; height: 20px; background-position: -73px 0;}






/*加入购物车按钮*/
.add-to-cart{
	width:96px; height:28px; display: block; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; background-position:0 0; overflow:hidden; margin-top:10px; color:#fff; line-height: 27px; text-align:center;
}
.add-to-cart:hover{
	background-position:0px -28px;
}
.add-to-cart:active{
	background-position:0px -56px;
}

.add-to-cart.disabled{ background-position:0 -84px; cursor: default;}
.add-to-cart.hide{ opacity: 0;filter:alpha(opacity=0);}
.add-to-cart.hide:hover{ opacity: 1; filter:alpha(opacity=100);}
.add-to-cart.hide:active{ opacity: 1;filter:alpha(opacity=100);}



.pruwrap dt{ position: relative;}
.pro-tags{display: block; width: 222px; position: absolute; left:0; bottom:0; background-color: #fff; opacity: 0; filter:alpha(opacity=0); padding:10px; transition: opacity .2s; -webkit-transition:opacity .2s; -moz-transition: opacity .2s;  }
.pro-tags li{display: inline-block; padding: 2px 10px; margin: 3px 3px; background-color: #fff; color: #666; border-radius: 15px; border: #999 solid 1px;}
.pruwrap:hover .pro-tags{  opacity: 0.9; filter:alpha(opacity=90);}



.lf-icon{background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; display: inline-block;}
.lf-icon-up{background-position:-105px 0; width:8px; height: 4px;}
.lf-icon-down{background-position:-113px 0; width:8px; height: 4px;}
.lf-icon-right{background-position:-121px 0; width:5px; height: 8px;}
.lf-icon-left-1{background-position:-126px 0; width:6px; height: 9px;}
.lf-icon-right-1.red{background-position:-132px 0; width:6px; height: 9px;}
.lf-icon-right-1.white{background-position:-138px 0; width:6px; height: 9px;}
.lf-icon-right-1.grey{background-position:-144px 0; width:6px; height: 9px;}
.lf-icon-checked-o{background-position:-165px 0; width:35px; height: 35px;}
.lf-icon-close{background-position:-201px 0; width:11px; height: 11px;}
.lf-icon-left-o{background-position:-96px -38px; width:16px; height: 16px;}
.lf-icon-right-o{background-position:-112px -38px; width:16px; height: 16px;}
.lf-icon-left-o.fade{background-position:-143px -38px;}
.lf-icon-right-o.fade{background-position:-159px -38px;}
.lf-icon-imgchecked-o{background-position:-128px -38px; width:15px; height: 13px;}
.lf-icon-cart-o{background-position:-226px -20px; width:70px; height: 63px;}
.lf-icon-btn-search-confirm{background-position:-96px -54px; width:54px; height: 22px;}
.lf-icon-btn-search-cancel{background-position:-96px -76px; width:54px; height: 22px;}
.lf-icon-btn-mselect{background-position:-150px -54px; width:52px; height: 22px;}
.lf-icon-btn-mselect.fade,.lf-icon-btn-mselect:hover{background-position:-150px -76px; width:52px; height: 22px;}

.lf-icon-lastpage{background-position:-136px -98px; width:26px; height: 56px;}
.lf-icon-nextpage{background-position:-162px -98px; width:26px; height: 56px;}

.lf-icon-btn-goto{background-position:-189px -99px; width:106px; height: 34px;}
.lf-icon-btn-goon{background-position:-295px -99px; width:106px; height: 34px;}

.cart-fade-background{width:100%; height:100%; position: absolute; top: 0; left: 0; background-color: #000; display: none; opacity: .3; filter:alpha(opacity=30); z-index: 150;}






.addToCartValid-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #000;
	opacity: .3;
}

.addToCartValid{
	position: fixed;
	top: 30%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	height: 160px;
	border: 1px solid #e6e6e6;
	background: #fff;
	z-index: 10001;

}
.addToCartValid-title{
	text-align: center;
	font-size: 15px;
	height: 57px;
	line-height: 60px;
}

.addToCartValid a{
	display: inline-block;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
}

.addToCartValid-inputs input{
	width: 180px;
	height: 30px;
	line-height: 40px;
	border: 1px solid #ccc;
	margin: 0 10px 0 12px;
	float: left;
	text-align: center;
	font-size: 18px;
	color:#999;
}

.addToCartValid-inputs img{
	width: 83px;
	height: 30px;
	border: 1px solid #ccc;
	margin: 0;
	float: left;
	cursor: pointer;
}

.addToCartValid-inputs p{
	width: 277px;
	height: 20px;
	display: inline-block;
	float: left;
	color: red;
	text-align: left;
	margin-left: 13px;
}

.addToCartValid-submit{
	background-color: #4dc7c3;
	border: none;
	width: 277px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	margin: 12px;
	margin-top: 0;
	cursor: pointer;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}






@charset "utf-8";
/* CSS Document */
.sub-nav p b,.srhMulBrandsArea,.nav .selList a b,.nav ul li .more a i, .nav ul li .hide a i,.more_mod dl dt i,.order b,.tpages .prev,.tpages .next,.makeup dl .pri .to,.brandPicArea em b,.brandpath dl dt b,.sm-nav .fltsrh,.makeup dl dt i{background:url(../images/61b6410af496e23b23502727ba483425.gif) no-repeat;}
.ClearFix:after{content:'.';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.ClearFix{*zoom:1;}
.mt50{clear:both; margin-bottom:50px;}


.path{line-height: 60px; color: red; text-indent: 0; font-size: 13px; height: 60px;}
.path b,.path a{color: #999; font-size: 13px;}
.path i{ margin: 0 5px;}


/*详情页*/
.dity-last-c span em, .dity-last-c span em i, .order i, .order em a, .c-l .c-desc, .bigimg-box .c-desc, .c-l dl dt em, .bigimg-box dl dt em, .t_price_box_L a, .t_price_box_L a.s1 i, .t_price_box_L a.s2 i, .bigimg-box .c-info strong, .bigimg-box .c-comment .commodity-comment em, .bigimg-box .c-comment .commodity-comment em i, .c-info strong, .c-l .c-g, .listimg-box .c-c-l em, .listimg-box .c-c-l em i, .listimg-box .c-c-l a, .bubble .c-share ol a, .dity-share .share i, .dity-last-c span.dity-l-c-c p i, .dity-share .share span a {}
.main2{width:1002px; margin: 0 auto 20px; overflow:hidden;}
.main-left {float: left;width: 760px;z-index: 10; overflow:hidden;}
.main-right {float: right;width: 230px; position: relative;}


.commodity-t-composite{width:1000px; height: 516px; margin-bottom:15px; position:relative; z-index:20;background: #FFF; border:1px #e3e3e3 solid;}
.bubble i,.commodity-t-composite .bigtab-c .down i{width: 0;height: 0;font-size: 0;overflow: hidden;}

.bigProduct-c{width:1000px; }
.bigProduct-c dl dd{ background: #FFF;overflow: hidden; /*height:120px; background:#fcfbf8; */}
.bigProduct-c dl dd h1{width:600px; font:bold 20px/31px Microsoft YaHei, simsun; padding:20px 0 0px 29px; color:#333; overflow:hidden; height: 33px;}
.bigProduct-c dl dd h1.tl{width:950px;}
.bigProduct-c dl dd h1 i{font-style: normal; color:#f52648}
.bigProduct-c dl dd h1 .hotKey a{font-size:14px; color:#f02342; padding:10px;}
.bigProduct-c dl dd p{width:600px; height: 54px; line-height: 25px; font-size:  16px ; padding:0 0 0 29px; color:#999; overflow:hidden;}

.bigProduct-c dl dd img{margin:20px;}
.bigProduct-c dl dt{width:1000px; clear:both;}
.bigProduct-c dl dt .dity-pic{
	position: relative;
	height: 347px;
	width: 600px;
	border: solid 1px #eee;
	margin-left: 29px;
}
.bigProduct-c dl dt .dity-pic .m-pic{
	position: relative;
	height: 347px;
	width: 600px;
	border: solid 1px #eee;
	margin-left: 0px;
}
.bigProduct-c dl dt .dity-pic img{
	display:block;
	/*max-width: 600px;*/
	/*max-height: 347px;*/
	margin: 0 auto;
}
.bigProduct-c dl dt .dity-pic #layer{
	position:absolute;
	top:0;
	left:0;
	width: 600px;
	height: 347px;
	background: gray;
	opacity:0.4 ;
	display:none;	
}
.bigProduct-c dl dt .dity-pic #mask{
	width:151px;
	height:88px;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.bigProduct-c dl dt .dity-pic .big{
	width:453px;
	height:264px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:600px;
	z-index:999999999;
	display:none;
}
.bigProduct-c dl dt .dity-pic .big img{
	position:absolute;
	top:0;
	left:0;
	width:1234px;
	height: 715px;
}

.bigProduct-c dl dt .small{}
.bigProduct-c dl dt .small img{ margin-left:125px;}

.bigProduct-c dl dt{position:relative; _margin-top:-3px }



.dity{position:absolute;  top:0;  left:660px; width:310px; height:380px; border-top: dotted 1px #ccc;}
.dity .dity-bk{ height:367px; background:#222;/*-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;filter: alpha(opacity=80)*/}
.dity .dity-cont{  color:#999;}
.dity-title{display: inline-block; width: 70px; font-size: 13px; line-height: 25px;}
.dity-cont .end{background-position:0 -80px;}
.dity-price-c{  background-position: 0 0; position:relative; height:55px; font-family:Arial,Microsoft YaHei,simsun; margin-top: 20px;}
.dity-price-c strong{font-size:32px;   padding-left:5px;font-family:Arial,Microsoft YaHei,simsun; color: red;}
.dity-price-c .dity-countdown{display: inline-block; background-color: red; color: #fff; font-size: 12px; padding: 1px 3px; margin-left: 10px; vertical-align: super;}
.dity-price-c .lighten{ font-size: 12px; color: red; }
.dity-price-c .marketPrice-s{color: #999; font-size: 13px; text-decoration: line-through; margin-left: 20px;}



.dity-price-c a{display:inline; float:right; width:134px; height:48px;}
.dity-price-c a.db1{background-position:0 0px}/*加入购物车*/
.dity-price-c a:hover.db1{background-position:0 -53px}
.dity-price-c a.db2{background-position:0 -155px}/*立即购买*/
.dity-price-c a:hover.db2{background-position:0 -206px}
.dity-price-c a.db3{background-position:0 -104px; cursor:inherit}/*已抢光*/
.dity-price-c a:hover.db3{background-position:0 -104px; }

.dity-price-c a.join{display:inline; float:right; width:116px; height:48px; background:url(../images/89f08289ff5543fd78eea3cfdcad4cb9.png) no-repeat; margin:-4px 12px 0 0;}/*查看*/
.dity-price-c a.join:hover{background-position:right 0;}
.dity-price-c a.ldb1{background-position:0 -51px}/*加入购物车*/
.dity-price-c a:hover.ldb1{background-position:right -51px}
.dity-price-c a.ldb3{background-position:0 -153px}/*立即购买*/
.dity-price-c a:hover.ldb3{background-position:right -204px}
.dity-price-c a.ldb2{background-position:0 -102px}/*已抢光*/
.dity-price-c a:hover.ldb2{background-position:right -102px}

.bubble{width: 360px;height: 7px;}
.bubble i{display: block;border: 7px dashed transparent;border-bottom: 7px solid #000;position: absolute;top: -7px;left: -7px;}


.dity-last-c span.dity-l-c-c p i{display:inline-block; width:20px; height:20px; margin:0 2px;}
.dity-last-c span.dity-l-c-c p.see{float:right;}
.dity-last-c span.dity-l-c-c p.see i{background-position:-41px -211px;}
.dity-last-c span.dity-l-c-c p.buy{float:left;}
.dity-last-c span.dity-l-c-c p.buy i{background-position:-75px -213px;}
.dity-last-c span.dity-l-c-l{float:left;}
.dity-last-c span.dity-l-c-r{float:right;}
.dity-last-c span em,.dity-last-c span em i{display: inline-block;width: 95px;height: 14px;background-position: -316px -367px;overflow: hidden;margin-top: 3px; vertical-align: text-bottom;}
.dity-last-c span em i {top: 0;left: 0;background-position: -316px -383px; margin-top: 0;}

.dity-promotions{ overflow: hidden; padding-bottom: 20px;}
.dity-prts{float: right; width: 240px;}
.dity-promotion,.dity-last-c,.dity-discount{width:310px; margin:0 auto;}
.dity-promotion{ height:27px; line-height:27px; color:#666; float:left; width:100%; font-size:12px;  overflow:hidden; margin-bottom: 3px;}
.dity-promotion i{display:inline-block; width:39px; margin:0 10px 0 5px; vertical-align:middle; font-style:normal; color:#fff;  height:23px;}
.dity-promotion i.l1{ background-position: 0 0;}/*满赠 5*/
.dity-promotion i.l2{ background-position: -39px 0;}/*满减 4*/
.dity-promotion i.l3{ background-position: -78px 0;}/*折扣 2*/
.dity-promotion i.l4{ background-position: -117px 0;}/*免邮 6*/



.commodity-t-composite .bigtab-c {width: 1001px;height: 39px;line-height: 39px;}
.commodity-t-composite .bigtab-c span{position: relative; display:inline-block; float:left;height: 38px;margin: 0 1px 0 0;background: #f9f9f9;color: #333;text-align: center;font-size: 12px;cursor: pointer;white-space:nowrap;}
.commodity-t-composite .bigtab-c span i{display:none;position: absolute;top: -14px;left:49%;border: 7px dashed transparent; border-bottom: 7px solid #c6a655;}
.commodity-t-composite .tabs_2 span{width: 498px;}
.commodity-t-composite .tabs_2 span.down{width:499px;}
.commodity-t-composite .tabs_3 span{width: 332px;}
.commodity-t-composite .tabs_3 span.down{width:332px;}
.commodity-t-composite .tabs_4 span{width: 249px}
.commodity-t-composite .tabs_4 span.down{width:248px}
.commodity-t-composite .tabs_5 span{width: 199px}
.commodity-t-composite .tabs_5 span.down{width:198px}
.commodity-t-composite .tabs_6 span{width: 166px;}
.commodity-t-composite .tabs_6 span.down{width:163px;}
.commodity-t-composite .tabs_6,.commodity-t-composite .tabs_5,.commodity-t-composite .tabs_4,.commodity-t-composite .tabs_3,.commodity-t-composite .tabs_2{padding: 1px 0 0 1px;}
.commodity-t-composite .bigtab-c .down {background: #c6a655;color: #fff; height:40px; margin-top:-2px; }
.commodity-t-composite .bigtab-c .down i{display:inline-block;}
.commodity-banner h1{font:normal small-caps 500 18px Arial, Helvetica, sans-serif; color:#918d86;}
.commodity-banner h1 b{font-family:Microsoft YaHei; color:#333; height:40px; line-height:40px;}
.commodity-banner .c-banner-left{float:left;}
.commodity-banner .c-banner-right{float:right;}
.c-banner-left dl{height:180px; overflow:hidden;}
.c-banner-left dl dd{width:280px;}
.bigimg-box{width:1020px; margin: 0 0 10px -20px; }
.bigimg-box dl{display:inline-block; float: left; margin: 20px 0 0 20px; _display: inline; background: #fff; width:320px; height: 440px; overflow: hidden;position: relative;}
.bigimg-box dl dt{position: relative;}

/*分享*/
.bubble .c-share b{}
.commodity-t .share span a,.bubble .c-share ol a{float:left;width:16px;height:16px;margin:0 5px 0 0;}
.commodity-t .share span a.sina,.bubble .c-share ol a.sina,.dity-share .share span a.sina{background-position:0px -382px;}
.commodity-t .share span a.qqt,.bubble .c-share ol a.qqt,.dity-share .share span a.qqt{background-position:-21px -382px;}
.commodity-t .share span a.qqz,.bubble .c-share ol a.qqz,.dity-share .share span a.qqz{background-position:-42px -382px;}
.commodity-t .share span a.renren,.bubble .c-share ol a.renren,.dity-share .share span a.renren{background-position:-63px -382px;}
.commodity-t .share span a.kaixin,.bubble .c-share ol a.kaixin,.dity-share .share span a.kaixin{background-position:-84px -382px;}
.commodity-t .share span a.sohu,.bubble .c-share ol a.sohu,.dity-share .share span a.sohu{background-position:-105px -382px;}
.commodity-t .share span a.t163,.bubble .c-share ol a.t163,.dity-share .share span a.t163{background-position:-126px -382px;}
.commodity-t .share span a.douban,.bubble .c-share ol a.douban,.dity-share .share span a.douban{background-position:-147px -382px;}

.commodity-t .share span a.weixin,.bubble .c-share ol a.weixin,.dity-share .share span a.weixin{}
.commodity-t .share span a,.bubble .c-share ol a{filter:alpha(opacity=80);opacity:0.8;}
.commodity-t .share span a:hover,.bubble .c-share ol a:hover{filter:alpha(opacity=100);opacity:1;}


.dity-share{
	position: absolute;
	right: 10px;
	bottom: -40px;
	line-height:27px;
	overflow:visible;
}

.dity-share .share{ float:right;}
.dity-share .share b{color:#999;}
.dity-share .share i{display:inline-block; width:14px; height: 16px;background-position: -179px -382px;vertical-align: -2px;}
.dity-share .share span{ position:absolute; top:30px; height:24px; right:-23px; width:78px; padding: 2px 5px; background:#fff; border:1px solid #e8dcbb; display:none;}
.dity-share .share span b{display: inline-block;width: 0;height: 0;font-size: 0;overflow: hidden;position: absolute;top: -14px;left: 36px;border: 7px dashed transparent;border-bottom: 7px solid #fbf9f5;}
.dity-share .share span b.share_b1{top:-16px; border: 8px dashed transparent;border-bottom: 8px solid #e8dcbb; }
.dity-share .share span a{display:inline-block; width:16px; height:16px;margin-top:5px;}



/*标签*/
.dity-tags{position: relative;  left:0;  top: 20px; padding-left: 29px; display: inline-block; width:500px;}
.dity-tags span{ height: 22px; padding: 0 10px; line-height: 22px; text-align: center; margin-right: 10px; display: inline-block; border: solid #ccc 1px; border-radius:12px; -moz-border-radius:12px;  }



.dity-brand-time{ position: absolute;  right: 30px;  top: 25px;  text-align: right;}
.dity-time-c{ color: #999; display: block;}
.dity-time-c b{color: #666;}
.dity-time-c i{ display: inline-block; width: 14px;  height: 14px; background: url(../images/c5725c705040cb114adade487b33a3cf.png) no-repeat -144px -245px; vertical-align: text-bottom; margin-right: 5px;}
.dity-brand-logo{display: inline-block; width: 240px; }
.dity-brand-logo img{  margin: 0 !important; height: 48px; margin-top: 10px !important;}


/*品牌授权*/
.sidebar {width: 230px;clear: both;float: right;margin: 0 0 25px;position: relative;}
.sidebar div {width: 228px;border-top: none !important;background-color: #fff;  border:solid 1px #e3e3e3; border-top: none;}
.sidebar h3 {height: 50px; color: #666;font-size: 14px;font-family: Microsoft YaHei;text-align: center;line-height: 50px;font-weight: bold;background-color: #fff; border: solid 1px #e3e3e3;}
.sidebar h3 i{display: inline-block; height: 14px; width: 2px; background-color: #f52648;     position: relative;  top: 2px;  left: -5px;}
.sidebar dl {width: 200px;margin: 0 auto;text-align: center;border-bottom: 1px dotted #ccc;padding-top:10px;}
.sidebar dl dt img{width:160px; height:202px;}
.sidebar dl dd{color:#f52648;height: 32px;overflow: hidden;text-align: left;padding-left: 10px;padding-bottom: 5px;word-wrap: break-word;word-break: break-all;}
.sidebar dl dd.pri{font:18px Arial;font-style:normal;}
.sidebar dl dd b{font-size:14px;}
.sidebar dl dd a {color: #333;font-weight: normal;}
.sidebar dl dd img {vertical-align: middle; display:inline-block;}
.sidebar dl.none {border-bottom: none;}
.sidebar dl .mark_price{font-size:12px;color:#999}
.mark_price {color: #999999;font-family: microsoft yahei;font-weight: normal;padding-left: 5px;display:inline-block; _zoom:1;*display:inline;}
.qjd{margin:0 0 15px 0;padding: 18px 0;border: 0px solid #ccc;text-align: center;cursor: pointer;}
.test_font-size{font-size: 280px;}

/*分色分码*/
.dity-size{width:310px; padding: 25px 0 10px 0; border-top: dotted 1px #ccc; }
.dity-size ol li{float: left; }
.dity-size-l{width:60px; line-height: 25px; font-size: 13px;}
.dity-size-r{width:103px; height: 25px; margin-left: 15px; background: url(../images/c5725c705040cb114adade487b33a3cf.png) no-repeat -204px -181px;}
.dity-size-r a,.dity-size-r span.noSkuid{display:block; float: left; min-height:18px; height: 18px; background: #fff; color:#333; margin:0 8px 10px 0; border: 1px solid #fff; width:35px; text-align:center; position:relative; }
.dity-size-r a.on{ line-height:25px;}
.dity-size-r span.noSkuid{color:#ccc!important; border:1px dashed #999;}
.dity-size-r input{display:inline-block; vertical-align:text-top}
.dity-size-r span.dity-m{ display:inline-block; height: 25px; width: 25px; border: none 0;cursor: pointer;vertical-align:middle}
.dity-size-r input.dity-input{width:34px; height: 20px; border: 0 none; padding:0 5px; text-align: center;vertical-align:middle}
.dity-size-r span.dity-p{ display:inline-block; border: none 0;height: 25px; width: 25px; cursor: pointer;vertical-align:middle}

.dity-size-r i{border:1px solid #fff; padding:1px; display:inline-block;margin:0 8px 0 0; }
.dity-size-r i.on{border:1px solid #fe0036; position:relative;}
.dity-size-r i.on b,.dity-size-r a.on b{background: url(../images/c5725c705040cb114adade487b33a3cf.png) no-repeat -35px -5px; position:absolute; right:0; bottom:0; width:15px; height:15px;}
.dity-size-x{ color:#F00; line-height:20px;}
.dity-last-c{ height:60px; line-height:60px; overflow:hidden; clear:both;}
.dity-last-c span b{display:inline-block; padding:0 2px; font: normal small-caps bold 18px Arial, Helvetica, sans-serif; color:#c6a756;}
.dity-last-c span{display:block;}
.dity-last-c span.dity-l-c-c{ height:30px; overflow:hidden; line-height:30px; border-bottom:1px solid #374048; padding:9px 0;}


.dity-sendTime{overflow: hidden; padding-bottom: 20px;}
.dity-send-time{ font-size: 13px; color: #666;}
.dity-send-time b{color: red;}



/*加入购物车按钮*/
.add-to-cart-pro{
  width:176px; height:45px; display: block; background-image: url(../images/c5725c705040cb114adade487b33a3cf.png); background-repeat: no-repeat; background-position:-145px 0; overflow:hidden; margin-top:10px; color:#fff; line-height: 45px; text-align:center; font-size: 16px;
}
.add-to-cart-pro:hover{
  background-position:-145px -45px;
}
.add-to-cart-pro:active{
  background-position:-145px -90px;
}

.add-to-cart-pro.disabled{ background-position:-145px -135px; cursor: default;}


.pollen-text{color: #666; font-size: 13px; display: inline-block; margin-top:10px;}
.pollen-text b{color: red;}


/*商品详情*/
.detail-top{width:728px; padding:15px 15px 0; border-left: 1px #e3e3e3 solid; border-right: 1px #e3e3e3 solid; overflow:hidden; background:#fff;}
.detail-nav{ position:relative;z-index:98; width:758px;height:50px; line-height:50px; background:#fafafa;  border: solid 1px #e3e3e3;}

.detail-nav-abs{position:fixed;_position:absolute;top:0;_top:expression(documentElement.scrollTop);}
.detail-nav-sie{_position:static;_top:0;}
.detail-nav>a,.detail-nav span a{color:#666; font-weight: bold;}
.detail-nav>a{display:block; text-align: center; float:left; padding:0 40px; font-size: 14px; font-weight: bold; border-right: solid 1px #e3e3e3;}
.detail-nav a.down{background: #fff; color: red; height:47px; border-top: solid 4px red;}

.detail-nav.fixing span{display: block;}
.detail-nav span{display:none; padding: 0 8px ;   text-align:right; float:right;  overflow:hidden; line-height: 40px;}
.detail-nav span a{display:inline-block; background:url(../images/c5725c705040cb114adade487b33a3cf.png) no-repeat; overflow:hidden; width:110px; height:28px; line-height:30px; text-align: center; padding:0;  vertical-align: middle; color: #fff; text-indent: 20px;}

.detail-nav span a.btn{background-position:-175px -206px}
.detail-nav span a.btn:hover{background-position:-175px -234px}
.detail-nav span a.btn:active{background-position:-175px -262px}
.detail-nav span a.end{background-position:-175px -290px}
.detail-nav span a.addbtn{background-position:-175px -206px}
.detail-nav span a.addbtn:hover{background-position:-175px -234px}
.detail-nav span a.addbtn:active{background-position:-175px -262px}
.detail-nav span a.addend{background-position:-175px -290px;}

.detail-nav span strong{color: red; display: inline-block; position: relative;top:5px; margin-right: 10px; font-size: 24px; font-weight: bold;}
.detail-nav span b{color: #666; display: inline-block;  position: relative;top:5px; font-size: 14px; margin-right: 20px; text-decoration: line-through;}





.detail{display: block;width: 758px;  border-left: 1px #e3e3e3 solid; border-right: 1px #e3e3e3 solid; background-color: #fff;word-wrap: break-word;word-break: normal;overflow: hidden; }
.detail .cont img{width:auto; vertical-align:middle; max-width:730px; width:expression(this.clientWidth > 730 ? "730px": "auto" ); }
.detail .cont{display:block;width:750px; padding:20px 15px 20px; background-color:#fff; word-wrap:break-word;word-break:normal;overflow:hidden;}
.detail .cont ul{ overflow:hidden; margin-left:10px;}
.detail .cont li{ font-size:16px; overflow:hidden; line-height:2.0; color:#333; display:block; }
.detail .cont li b.bt_lt_par_t{ float:left; font-weight:bold;width:88px; display:inline-block;}
.detail .cont li p.bt_lt_par_p{ float:left;}
/*加入购物车*/
.tip3 {display:none;width: 256px;border-top: none;padding: 0 15px 15px;box-shadow: 0 3px 3px #CCCCCC;/*display: none;*/background-color: #fff;position: absolute;right: 0;top: 42px;}
.tip3 p.tip_mes_box {color: #F52648;}
.tip3 dt {width: 90px;height: 90px;float: left;margin-right: 5px;}
.detail h3 td dt a {width: auto;}
.detail h3 td a {float: inherit;display: block;height: 41px;line-height: 41px;text-align: center;font-weight: bold;color: #fff;}
.tip3 dt img {width: 90px;height:114px;}
.tip3 dd {width: 160px;float: left;overflow: hidden;font-size: 14px;font-family: Microsoft YaHei; line-height:22px;}
.tip3 dd a:hover {color: #666 !important;font-size: 16px !important;}
.tip3 dd a {font-size: 16px !important;color: #333 !important;text-align: left;height: 45px;overflow: hidden;line-height: 21px;margin-bottom: 15px;font-weight: normal;background-color: #fff;width: 100%;}
.tip3 dd p .price {margin-right: 5px;vertical-align: middle;}
.tip3 dd p{font: 22px/24px Arial,Tahoma;color: #f52648;margin-top: 10px;}
.tip3 dd p del {color: #999;font-family: microsoft yahei;font-size: 12px;}


.detail-info-table{width:665px; margin-left: 20px; border-color: #ccc;}
.detail-info-table .title{background-color: #f2f2f2; width: 90px;}
.detail-info-table td{background-color: #fafafa;  font-size: 14px;  color:#333; padding: 8px 10px; border-top: solid 1px #fff; border-right: solid 1px #fff;}



.tip3 dd p s{font-size:12px}
/*新版详情页title*/
.dtl_conHead{height:60px;}
.dtl_conHead3{background:url(../images/76d8de71c3cdadd548299f0ba8dc53de.jpg) no-repeat;}
.dtl_conHead4{background:url(../images/0d93bae3b09fa473adefc83fed4592b9.jpg) no-repeat;}
.dtl_conHead13{background:url(../images/55109800bad63dcd497d9ef70806ea32.jpg) no-repeat;}
.dtl_conHead16{background:url(../images/5ff81f0357dddb7e0e4d81a71c379242.jpg) no-repeat;}
.dtl_conHead17{background:url(../images/f08f2affbe65ea9195dcf249e2be82eb.jpg) no-repeat;}
.dtl_conHead18{background:url(../images/aaaab373d6473782bef22fb11a01cee6.jpg) no-repeat;}
.dtl_conHead21{background:url(../images/331f2694857ab723508403d9a9d5334e.jpg) no-repeat;}
.dtl_conHead22{background:url(../images/c9dbe678f512c6a8c4189e1f2e16ba89.jpg) no-repeat;}
.dtl_conHead24{background:url(../images/a028bea1d5b374ff320b0153936d66f4.jpg) no-repeat;}
/*乐峰承诺*/
.f-service{overflow:hidden;width:718px; padding:0 20px;  background-color:#fff; border: 1px #e3e3e3 solid; border-top:none; }
.f-service ul{height:157px; width:725px; padding:0 0 0 1px; margin:0 auto; background:url(../images/8407be5cdd8dc6ea04b9fca426c87b9f.jpg) no-repeat bottom center;}
.f-service ul li{float:left;width:142px;height:88px;color:#999;font:bold 14px/2 \5FAE\8F6F\96C5\9ED1;text-align:center;cursor:pointer; }
.f-service b{display:inline-block;width:72px;height:61px;margin:6px 10px; background:url(../images/c5725c705040cb114adade487b33a3cf.png) no-repeat; background-color: #fff;}
.f-service .f-service-y{width:1px;height:66px;margin:9px 0 0;background:#e1e1e1;font-size:1px;overflow:hidden;}
.f-service li p{color: e9e9e9; font-weight: bold; line-height: 15px;}

.f-service-con{width:640px;padding:20px; margin:0 auto;}
.f-service-con img{display:block;width:640px;}

.f-service .f-s-img-1{background-position: 0 -183px;}
.f-service .f-s-img-2{background-position: 0 -122px;}
.f-service .f-s-img-3{background-position: 0 -61px;}
.f-service .f-s-img-4{background-position: 0 -244px;}
.f-service .f-s-img-5{background-position: 0 0;}
.f-service .h .f-s-img-1{background-position: -72px -183px;}
.f-service .h .f-s-img-2{background-position: -72px -122px;}
.f-service .h .f-s-img-3{background-position: -72px -61px;}
.f-service .h .f-s-img-4{background-position: -72px -244px;}
.f-service .h .f-s-img-5{background-position: -72px -0;}



/*乐峰承诺结束*/

.pri .price{color:#f00; font-size:20px;}
/* 面包屑 */
.brandpath{padding: 12px 0px; border-bottom: 2px solid #ECEAE6;}
.brandpath span.all{display: inline;float: left;color: #333;line-height: 24px;margin: 1px 0px 0px;}
.brandpath i{ margin:0 5px;}
.brandpath span.curpath{display: inline;color: #333;line-height: 24px;margin: 1px 0px 0px;}
.search-results{height: 24px;}
.search-results a {position: relative; display: inline;height: 24px;padding: 2px 20px 2px 0px;line-height: 24px;
  white-space: nowrap;cursor: pointer; border:1px dashed #F10180;}
.search-results a:hover{border:1px solid #F10180;}
.search-results a em { height: 24px; padding: 0px 0px 0px 10px;line-height: 24px;max-width: 240px;/*display: inline-block;*/white-space: nowrap;
overflow: hidden;}
.search-results a b {position: absolute;top: 5px;right: 5px;width: 8px;height: 8px;margin: 0px 0px 0px 5px;display: inline-block; overflow: hidden;}
/* 品牌更多 */
.ps-scrollbar-y-rail {position: absolute;right: 3px;width: 8px;border-radius: 4px;-webkit-opacity: 0;-moz-opacity: 0;
opacity: 1;filter: alpha(opacity=0);-webkit-transition: background-color .2s linear,opacity .2s linear;transition: background-color .2s linear,opacity .2s linear;background:#E4DEDE;}

.ps-scrollbar-y {position: absolute;right: 0;width: 8px;background-color: #aaa;border-radius: 4px;
-webkit-transition: background-color .2s linear;transition: background-color .2s linear;}

.f-clearfix {zoom: 1;}


.wrap{position:absolute; top:56px;left:30px; }
b.end{width: 140px;height: 140px; background: url(../images/2c320bb1ae8987a72b4565f06393bcd0.png) -119px 0 no-repeat; display:inline-block;}
b.tover{width: 140px;height: 140px; background: url(../images/2c320bb1ae8987a72b4565f06393bcd0.png) -266px -30px no-repeat; display:inline-block;}


/*二维码*/
.qrcode-bg{ position: fixed; left: 0; top:0; text-align: center; width: 100%; height: 1200px; background-color: #000; opacity: .1; filter:alpha(opacity=10); z-index: 200;}

.qrcode-current-page {
	position: absolute;
	top: 760px;
	left: 50%;
	width: 200px;
	margin-left: -110px;
	background-color: #FFF;
	text-align: center;
	z-index: 299;
}
.qrcode-current-page > span {
	display: block;
	padding: 10px;
}
.qrcode-close {
	text-align: right;
}

.img-product-service {
	width: 100%;
	border: 1px #e3e3e3 solid;
	border-top: none;
}

