.Cnav-menu-btn{width: 220px; height: 40px; display: inline-block;  background-color: #E03642; float: left; line-height: 40px; text-align: center; color:#fff; font-size: 14px; font-weight: bold;}
.Cnav-menu-btn>a{color:#fff !important; cursor: default;}
.Cnav-menu-btn.active { background-color: #d62340;}
.Cnav-menu-btn i{ display: inline-block; width: 10px; height: 6px; background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat 0 0; vertical-align: middle; margin-left: 5px;transition: transform .2s;}
.Cnav-menu-btn.active .float-list{ box-shadow: 0 0 10px #999; height:598px; opacity: 1; background:#fff;}
.Cnav-menu-btn.active dl>dt{ height: 96px; padding: 14px 0px 2px 0px; border-bottom: 1px solid #eee;}
.Cnav-menu-btn.active i{ transform: rotate(180deg); }
.Cnav-menu-btn.active .class-more-btn{display: block;}


.class-more-btn,.class-more-tips{ width: 100%; transition: height .2s;  height:33px; overflow:hidden; float: left; line-height: 33px; color: #999; font-size: 12px; text-align: center; }
.class-more-btn{display: none;}

.class-more-tips i{width:23px; height: 13px; display: inline-block; margin-top: 10px;}

/* 分类 */
.fl-main{position:relative;width:1000px;height:0px;margin:0 auto;z-index:49; text-align: left;}
.float-list{position:absolute; box-shadow: 0 0 7px #ccc; background-color:#f7f7f7; z-index:96; left:0; top:0px;  width:220px; height:0;  display:block; transition: height .2s,box-shadow .2s,opacity .2s;}
.float-list .float-list-btn{display:none;position:relative;z-index:95;width:220px;height:40px; text-align:center;font:bold 14px/40px '\5B8B\4F53'!important;color:#333!important;cursor:pointer;letter-spacing:1px;}
.float-list-btn i{position:absolute;top:14px;left:42px;width:17px; height:13px; background-position:-448px -435px;}
.float-list-btn b{position:absolute;top:0;left:0;width:8px;height:8px;background-position:-85px -53px;overflow:hidden; display:none;}
.float-list dl{position:relative;float:left;z-index:94;clear:both; width: 100%;}
.float-list dl.on{}
.float-list dl a:hover{color:#f52648;}
.float-list dl dt{display:inline;position:relative;float:left;width:189px; padding: 14px 0px 2px 0px; margin:0 7px 0 14px; line-height:22px;overflow:hidden;  height:96px;}
.float-list dl dt a{padding:0 6px 0 0; width:30%;color:#666; line-height: 26px; font-weight: normal; font-size:13px;table-layout:fixed;white-space:nowrap; float:left;font-family: "microsoft yahei";}
.float-list dl dt strong{float:left;width:100%; display:block; height:22px;line-height:22px;margin:0 0 5px; overflow:hidden;color:#333;font-size:14px;font-family:'\5B8B\4F53'; font-weight:bold;font-family: "microsoft yahei";}

.float-list dl dt strong a{color:#000;font-size:14px;font-family:'\5B8B\4F53';line-height:18px;}
.float-list dl dt p{clear:both;height:72px;padding:0 0 0 5px;line-height:24px;overflow:hidden;}
.float-list .minp{clear:both;width:200px; margin:0 10px;overflow:hidden;z-index:100; background:#fff; }
.float-list .minp a{color:#000;}
.float-list .minp a.float-list-s2{text-indent:32px;background-position:7px 10px;}
.float-list .minp a:hover{ color:#f52648}
/*.float-list-s1:hover{color:#c29721;background-position:-305px -190px;}
.float-list-s2:hover{color:#c29721;background-position:-311px -272px;}*/
.float-list dl dd{display:none;position: absolute;top:0px;left:220px;background:#fff;color:#000; box-shadow: 2px 2px 3px #999; }
.float-list dl dd{width:692px;padding:0 0 20px;}
.float-list dl dd a{color:#666;white-space:nowrap; table-layout:fixed; font-family: "microsoft yahei";}
.float-list dl dd ul{display:inline;float:left;width:316px;margin:10px 5px 0 20px;line-height:24px;overflow:hidden;}

.float-list dl dd ul strong{width:70px; display:inline-block;   margin:0 0 7px; float: left; }
.float-list dl dd ul strong a{color:#000; font-size: 13px; font-weight:bold; line-height: 33px; }
.float-list dl dd ul .float-list-cont a{margin:0 14px 0 0; line-height: 25px; display:inline-block; font-weight: normal; font-size: 13px; color:#999;}
.float-list dl dd ul .float-list-cont b{font-weight: normal;}
.float-list dl dd ul .float-list-cont .dashed{display:block;margin:7px 0;height:0;overflow:hidden;border-bottom:1px  solid #e9e9e9;}
.float-list-cont{display: inline-block; width: 240px;  border-bottom: 1px #ccc dotted; float: left; padding:4px 0 6px 0; }
.float-list dl dd ul li{margin:0 0 5px; display:inline-block;}

.float-list-hot{float:right;width:220px;padding:0 20px 0 0;overflow:hidden;}
.float-list-hot img{float:right;width:220px;height:120px;margin:20px 0 0;}
.float-list textarea{display:none;}

.float-list dl dd .abarea{overflow:hidden;}
.float-list dl dd .abarea h2{font:bold 14px/35px "Microsoft YaHei";height:35px;color:#f52648;clear: both; text-align:center;}
.float-list dl dd .abarea ul{ overflow:hidden;zoom:1; margin:20px 10px 10px; width:672px; padding-bottom:2px;}
.float-list dl dd .abarea ul li{width:78px; height:40px; margin:5px 17px; float:left; border:#fafafa;  }
.float-list dl dd .abarea ul li a{width:78px; height:40px; border:1px solid #fafafa;display: inline-block;}
.float-list dl dd .abarea ul li a img{ width:78px; height:40px;}
.float-list dl dd .abarea ul li a:hover{ border:1px solid #f52648;}


.float-list{opacity: 0;}
.float-list dl>dt{height: 0; padding: 0; transition: height .2s;}

.float-list dl:hover{ background-color: #fff;}
.float-list dl:hover dd{display:block !important;}




.class-1 i,.class-2 i,.class-3 i,.class-4 i,.class-5 i{ background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat; display: inline-block; vertical-align: middle; margin-right: 10px; margin-left: 5px;}
.class-1 i{ width: 13px; height: 18px; background-position: -14px 0;}
.class-2 i{ width: 16px; height: 19px; background-position: -27px 0;}
.class-3 i{ width: 11px; height: 20px; background-position: -43px 0;}
.class-4 i{ width: 19px; height: 20px; background-position: -54px 0;}
.class-5 i{ width: 20px; height: 20px; background-position: -73px 0;}






/*加入购物车按钮*/
.add-to-cart{
	width:96px; height:28px; display: block; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; background-position:0 0; overflow:hidden; margin-top:10px; color:#fff; line-height: 27px; text-align:center;
}
.add-to-cart:hover{
	background-position:0px -28px;
}
.add-to-cart:active{
	background-position:0px -56px;
}

.add-to-cart.disabled{ background-position:0 -84px; cursor: default;}
.add-to-cart.hide{ opacity: 0;filter:alpha(opacity=0);}
.add-to-cart.hide:hover{ opacity: 1; filter:alpha(opacity=100);}
.add-to-cart.hide:active{ opacity: 1;filter:alpha(opacity=100);}



.pruwrap dt{ position: relative;}
.pro-tags{display: block; width: 222px; position: absolute; left:0; bottom:0; background-color: #fff; opacity: 0; filter:alpha(opacity=0); padding:10px; transition: opacity .2s; -webkit-transition:opacity .2s; -moz-transition: opacity .2s;  }
.pro-tags li{display: inline-block; padding: 2px 10px; margin: 3px 3px; background-color: #fff; color: #666; border-radius: 15px; border: #999 solid 1px;}
.pruwrap:hover .pro-tags{  opacity: 0.9; filter:alpha(opacity=90);}



.lf-icon{background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; display: inline-block;}
.lf-icon-up{background-position:-105px 0; width:8px; height: 4px;}
.lf-icon-down{background-position:-113px 0; width:8px; height: 4px;}
.lf-icon-right{background-position:-121px 0; width:5px; height: 8px;}
.lf-icon-left-1{background-position:-126px 0; width:6px; height: 9px;}
.lf-icon-right-1.red{background-position:-132px 0; width:6px; height: 9px;}
.lf-icon-right-1.white{background-position:-138px 0; width:6px; height: 9px;}
.lf-icon-right-1.grey{background-position:-144px 0; width:6px; height: 9px;}
.lf-icon-checked-o{background-position:-165px 0; width:35px; height: 35px;}
.lf-icon-close{background-position:-201px 0; width:11px; height: 11px;}
.lf-icon-left-o{background-position:-96px -38px; width:16px; height: 16px;}
.lf-icon-right-o{background-position:-112px -38px; width:16px; height: 16px;}
.lf-icon-left-o.fade{background-position:-143px -38px;}
.lf-icon-right-o.fade{background-position:-159px -38px;}
.lf-icon-imgchecked-o{background-position:-128px -38px; width:15px; height: 13px;}
.lf-icon-cart-o{background-position:-226px -20px; width:70px; height: 63px;}
.lf-icon-btn-search-confirm{background-position:-96px -54px; width:54px; height: 22px;}
.lf-icon-btn-search-cancel{background-position:-96px -76px; width:54px; height: 22px;}
.lf-icon-btn-mselect{background-position:-150px -54px; width:52px; height: 22px;}
.lf-icon-btn-mselect.fade,.lf-icon-btn-mselect:hover{background-position:-150px -76px; width:52px; height: 22px;}

.lf-icon-lastpage{background-position:-136px -98px; width:26px; height: 56px;}
.lf-icon-nextpage{background-position:-162px -98px; width:26px; height: 56px;}

.lf-icon-btn-goto{background-position:-189px -99px; width:106px; height: 34px;}
.lf-icon-btn-goon{background-position:-295px -99px; width:106px; height: 34px;}

.cart-fade-background{width:100%; height:100%; position: absolute; top: 0; left: 0; background-color: #000; display: none; opacity: .3; filter:alpha(opacity=30); z-index: 150;}






.addToCartValid-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #000;
	opacity: .3;
}

.addToCartValid{
	position: fixed;
	top: 30%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	height: 160px;
	border: 1px solid #e6e6e6;
	background: #fff;
	z-index: 10001;

}
.addToCartValid-title{
	text-align: center;
	font-size: 15px;
	height: 57px;
	line-height: 60px;
}

.addToCartValid a{
	display: inline-block;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
}

.addToCartValid-inputs input{
	width: 180px;
	height: 30px;
	line-height: 40px;
	border: 1px solid #ccc;
	margin: 0 10px 0 12px;
	float: left;
	text-align: center;
	font-size: 18px;
	color:#999;
}

.addToCartValid-inputs img{
	width: 83px;
	height: 30px;
	border: 1px solid #ccc;
	margin: 0;
	float: left;
	cursor: pointer;
}

.addToCartValid-inputs p{
	width: 277px;
	height: 20px;
	display: inline-block;
	float: left;
	color: red;
	text-align: left;
	margin-left: 13px;
}

.addToCartValid-submit{
	background-color: #4dc7c3;
	border: none;
	width: 277px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	margin: 12px;
	margin-top: 0;
	cursor: pointer;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}







@charset "utf-8";
/* CSS Document */
.sub-nav p b,.srhMulBrandsArea,.nav .selList a b,.nav ul li .more a i, .nav ul li .hide a i,.more_mod dl dt i,.order b,.tpages .prev,.tpages .next,.makeup dl .pri .to,.brandPicArea em b,.brandpath dl dt b,.sm-nav .fltsrh,.makeup dl dt i{background:url(../images/61b6410af496e23b23502727ba483425.gif) no-repeat;}
.ClearFix:after{content:'.';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.ClearFix{*zoom:1;}
.sub-nav p b{background-position:-40px 0;}
.sub-nav p.show b{background-position:-55px 0;}
.main1{ width:1000px; margin:0 auto;}
.mainb{ background:#FFF;}




/*轮播图*/
.first-show{position:relative;clear:both;height:360px;margin:0 0 0px;}
.slide{position:relative;width:100%;height:360px; overflow:hidden;}
.slide div{position:absolute;top:0;left:0;width:100%;height:360px;}
.slide div a{display:block;width:1000px;height:385px;margin:0 auto;}
.slide p{position:absolute;left:50%; padding-left:367px ;bottom:3px; z-index:12;}
.slide p b{float:left;width:14px;height:14px;margin:0 10px 0 0; background-color:#333; overflow:hidden;cursor:pointer;}
.slide p b.on{ background-color: red;}
.star{position:absolute;left:50%;top:0px;padding:20px 0;margin:0 0 0 360px;width:240px;height:332px;z-index:80;overflow:hidden;background:#fff;}
.star img{display:block;width:240px;height:110px;border-bottom:1px solid #e0dacc;}
.star b,.star i{position:absolute;top:0;left:0;width:240px;height:20px;}
.star i{background-position:113px -55px;top:auto;bottom:0;}
.star b.on{background-color:#f52648;background-position:113px -35px;}
.star i.on{background-color:#f52648;background-position:113px -15px;}



/*楼层*/
.tit{width:1000px; margin:0 auto;padding:10px 0 10px;overflow:hidden;}
.tit-1{border-bottom: solid 2px #f62648;}
.tit-2{border-bottom: solid 2px #f99c17;}
.tit-3{border-bottom: solid 2px #26aff6;    padding-top: 0;}
.tit-4{border-bottom: solid 2px #946dc8;}
.tit-5{border-bottom: solid 2px #26aff5;}
.tit-6{border-bottom: solid 2px #946dc8;}
.tit-7{border-bottom: solid 2px #c835bf;}
.tit-8{border-bottom: solid 2px #c835bf;}

.tit span{font-size: 18px; color: #999; }
.tit b{ color: red; font-weight: normal;}

.tit i{background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat; width: 118px; height: 40px; display: inline-block; vertical-align: bottom; margin-right: 20px;}
.tit-1 i{background-position: 0 -24px;}
.tit-2 i{background-position: 0 -64px;}
.tit-3 i{background-position: 0 -104px;}
.tit-4 i{background-position: 0 -144px;}
.tit-5 i{background-position: 0 -184px;}
.tit-6 i{background-position: 0 -224px;}
.tit-7 i{background-position: 0 -264px;}
.tit-8 i{background-position: 0 -264px;}

.content{width:1000px; overflow:hidden; margin: 0 auto;  }
.content-1{background:#fff;}
.content-1 .pro-list{ position: relative; display: inline-block;  float: left;}

.content-1 i{background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat; width: 46px; height: 59px; position: absolute; left:20px; top:25px;}
.content-1 h4{width: 260px; height: 47px; font-size: 18px; color: #666; margin-left: 20px; margin-bottom: 20px; overflow: hidden;}
.content-1 h4 b{ color: red;}
.content-1 span{ margin-left: 20px;}
.content-1 span strong{ font-size: 26px; font-weight: normal;}
.content-1 span b{ font-size: 15px; color: #999; text-decoration: line-through;}
.content-1 .add-to-cart{margin-left: 20px; margin-top: 0;}

.pro-list:hover .add-to-cart{ opacity: 1; filter:alpha(opacity=100);}
.pro-list img{ opacity: 1; filter:alpha(opacity=100); transition: opacity .2s;}
.pro-list:hover img{ opacity: .4; filter:alpha(opacity=40);}


.content-1 .cont-pro-1 h4,.content-1 .cont-pro-2 h4{margin-top: 140px;}

.cont-pro-1,.cont-pro-2{width: 500px; height: 300px; border-right: 1px solid #e3e3e3;}

.cont-pro-1 i{background-position: -137px -243px;}
.cont-pro-2 i{background-position: -183px -243px;}
.cont-pro-3 i{background-position: -137px -302px;}
.cont-pro-4 i{background-position: -183px -302px;}
.cont-pro-5 i{background-position: -137px -361px;}

.cont-pro-1 img,.cont-pro-2 img{width: 202px; position: absolute; right:20px; top:20px;}

.cont-pro-2{width: 499px; height: 300px; border-right: none;}
.cont-pro-3,.cont-pro-4,.cont-pro-5{width: 333px; height: 420px; border-right: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;}
.cont-pro-3 img,.cont-pro-4 img,.cont-pro-5 img{width: 202px; display: block; margin: 20px auto;}
.cont-pro-3 .add-to-cart,.cont-pro-4 .add-to-cart,.cont-pro-5 .add-to-cart{ position: absolute; bottom: 30px; right:20px;}
.cont-pro-4{}
.cont-pro-5{ width: 332px; border-right: none;}

.content-2{width: 1008px; padding: 10px 0;}
.content-2 .brand-item {
	position: relative;
	display: inline-block;
	float:left;
	width: 492px;
	margin: 0px 6px 20px;
}
.content-2 img{
	max-width: 100%;
	height: 216px;
	border-radius: 3px;
	transition: box-shadow .2s;
}
.content-2 .pms-wrap {
	position: absolute;
	bottom: 35px;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.content-2 .pms-wrap p {
	font-size: 13px;
	color: #FFF;
	padding-left: 8px;
	line-height: 32px;
}
.content-2 .brand-info {
	font-size: 14px;
	color: #4d4d4d;
	line-height: 21px;
	height: 21px;
	padding: 12px 8px 2px;
}
.content-2 .brand-info span {
	color: #F52648;
	font-size: 18px;
}
.content-2 .brand-info span b {
	font-size: 14px;
	font-weight: normal;
}

.content-2 img:hover{box-shadow: 0 0 10px #999;}





.content-3,.content-4,.content-5,.content-6{ background-color: #fff; padding: 15px 0;}
.content-7,.content-8{width: 1028px;}
.content-7>div,.content-8>div{background-color: #fff; width:227px; margin: 15px; box-shadow: 0 0 5px #ccc;}
.content-7 .pro-pri span,.content-8 .pro-pri span{font-size: 18px;}
.content-7 .pro-pri .add-to-cart,.content-8 .pro-pri .add-to-cart{right:8px;}


.cnt_l{width:265px;float:left; }
.cnt_l img{width:250px; height:335px; margin-left: 15px;}
.cnt_m{width:735px; height:695px; overflow:hidden;float:left; }
.cnt_r{width:235px;float:right;}
.cnt_l-t,.cnt_l-b{width:250px; height:338px;}
.cnt_l-b{ margin-top:15px;}

.pro-list-{ width:240px; height:338px; overflow:hidden;float:left;  display:inline-block; position:relative; }
.pro-pic{width:100%;height:253px;overflow:hidden; text-align: center;}
.pro-pic img{width:200px;height:253px;}
.pro-nam{width:200px; height:38px; line-height: 18px; padding-top:5px; font-size:14px; overflow:hidden; margin: 0 auto;}
.pro-nam a{color:#666;}
.pro-nam i{color:#f52648;font-style:normal;padding-left:3px;}
.pro-nam b{font-size: 14px;color: #F52648;font-weight: bold;font-family: Microsoft Yahei;}
.pro-pri{width:200px; height:30px; margin: 0 auto; line-height:30px;padding-top:8px;}
.pro-pri span{color:#666;font:24px Arial, Helvetica, sans-serif;}
.pro-pri span>b{color:#666;font:13px Arial, Helvetica, sans-serif;}
.pro-pri span em{font-size:14px; float: left;}
.pro-pri>b{ padding-left:5px;color:#999; text-decoration:line-through;}
.pro-pri .add-to-cart{position: absolute; right:0; bottom:10px;}




.mt50{clear:both; margin-bottom:50px;}




/*加入购物车*/
.tip3 {display:none;width: 256px;border-top: none;padding: 0 15px 15px;box-shadow: 0 3px 3px #CCCCCC;/*display: none;*/background-color: #fff;position: absolute;right: 0;top: 42px;}
.tip3 p.tip_mes_box {color: #F52648;}
.tip3 dt {width: 90px;height: 90px;float: left;margin-right: 5px;}
.detail h3 td dt a {width: auto;}
.detail h3 td a {float: inherit;display: block;height: 41px;line-height: 41px;text-align: center;font-weight: bold;color: #fff;}
.tip3 dt img {width: 90px;height:114px;}
.tip3 dd {width: 160px;float: left;overflow: hidden;font-size: 14px;font-family: Microsoft YaHei; line-height:22px;}
.tip3 dd a:hover {color: #666 !important;font-size: 16px !important;}
.tip3 dd a {font-size: 16px !important;color: #333 !important;text-align: left;height: 45px;overflow: hidden;line-height: 21px;margin-bottom: 15px;font-weight: normal;background-color: #fff;width: 100%;}
.tip3 dd p .price {margin-right: 5px;vertical-align: middle;}
.tip3 dd p{font: 22px/24px Arial,Tahoma;color: #f52648;margin-top: 10px;}
.tip3 dd p del {color: #999;font-family: microsoft yahei;font-size: 12px;}
.tip3 dd p s{font-size:12px}



.pri .price{color:#f00; font-size:20px;}

/* 品牌更多 */
.ps-scrollbar-y-rail {position: absolute;right: 3px;width: 8px;border-radius: 4px;-webkit-opacity: 0;-moz-opacity: 0;
    opacity: 1;filter: alpha(opacity=0);-webkit-transition: background-color .2s linear,opacity .2s linear;transition: background-color .2s linear,opacity .2s linear;background:#E4DEDE;}

.ps-scrollbar-y {position: absolute;right: 0;width: 8px;background-color: #aaa;border-radius: 4px;
    -webkit-transition: background-color .2s linear;transition: background-color .2s linear;}

.f-clearfix {zoom: 1;}


.wrap{position:absolute; top:56px;left:30px; }
b.end{width: 140px;height: 140px; background: url(../images/2c320bb1ae8987a72b4565f06393bcd0.png) -119px 0 no-repeat; display:inline-block;}
b.tover{width: 140px;height: 140px; background: url(../images/2c320bb1ae8987a72b4565f06393bcd0.png) -266px -30px no-repeat; display:inline-block;}




.app-download-ad{ background: url(../images/46acda862c37afddc05a4b865cf5320d.jpg) no-repeat center #f62648; height:304px; width: 100%; border-top: solid 1px #f66b83;  margin-top: 50px;}


.BoxLoading{margin: 0 auto !important;}


.float-left-menu{width:144px; display: none; position:fixed; right: 50%;  top: 30%; z-index: 999; margin-right: 510px;}
.float-left-menu .flm-header{width:144px; height: 208px; position: relative; background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat -118px -24px;}
.float-left-menu .flm-header i{width:20px; height: 20px; display: inline-block; position: absolute; right: 0; top:80px; cursor: pointer;}
.float-left-menu span{width:67px; height: 75px; display: inline-block; background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat; margin-left: 67px; cursor: pointer;}
.float-left-menu .flm-1{ background-position: -67px -306px;  margin-top: 20px;}
.float-left-menu .flm-2{ background-position: -67px -381px; }
.float-left-menu .flm-1.active{background-position: 0 -306px;}
.float-left-menu .flm-2.active{background-position: 0 -381px;}

.float-list dl dt{display:inline;position:relative;float:left;width:189px; padding: 10px 0px 2px 0px; margin:0 7px 0 14px; line-height:22px;overflow:hidden;  height:96px; border-bottom: 1px solid #eee;}
.float-list{ height:360px !important; opacity: 1 !important; background:#f7f7f7 !important;}
.class-4-dl dt,.class-5-dl dt{height: 0 !important; padding: 0 !important; transition: height .2s; opacity: 0;}
.float-list:hover{box-shadow: 0 0 10px #999; height:586px !important;}
.float-list:hover .class-4-dl dt,.float-list:hover .class-5-dl dt{ height: 96px !important; padding: 14px 0px 2px 0px !important; opacity: 1; }
.float-list .class-more-btn{ display: none;}
.float-list:hover .class-more-btn{ display: block;}
.float-list:hover .class-more-tips{ display: none;}


.float-list dl dt a{ line-height: 32px !important;}
.moreBrand{float: right;  display: inline-block;  margin-top: 20px;  color: #999;}



/*global*/

.Cnav-main{height: 40px;}

