.Cnav-menu-btn{width: 220px; height: 40px; display: inline-block;  background-color: #E03642; float: left; line-height: 40px; text-align: center; color:#fff; font-size: 14px; font-weight: bold;}
.Cnav-menu-btn>a{color:#fff !important; cursor: default;}
.Cnav-menu-btn.active { background-color: #d62340;}
.Cnav-menu-btn i{ display: inline-block; width: 10px; height: 6px; background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat 0 0; vertical-align: middle; margin-left: 5px;transition: transform .2s;}
.Cnav-menu-btn.active .float-list{ box-shadow: 0 0 10px #999; height:598px; opacity: 1; background:#fff;}
.Cnav-menu-btn.active dl>dt{ height: 96px; padding: 14px 0px 2px 0px; border-bottom: 1px solid #eee;}
.Cnav-menu-btn.active i{ transform: rotate(180deg); }
.Cnav-menu-btn.active .class-more-btn{display: block;}


.class-more-btn,.class-more-tips{ width: 100%; transition: height .2s;  height:33px; overflow:hidden; float: left; line-height: 33px; color: #999; font-size: 12px; text-align: center; }
.class-more-btn{display: none;}

.class-more-tips i{width:23px; height: 13px; display: inline-block; margin-top: 10px;}

/* 分类 */
.fl-main{position:relative;width:1000px;height:0px;margin:0 auto;z-index:49; text-align: left;}
.float-list{position:absolute; box-shadow: 0 0 7px #ccc; background-color:#f7f7f7; z-index:96; left:0; top:0px;  width:220px; height:0;  display:block; transition: height .2s,box-shadow .2s,opacity .2s;}
.float-list .float-list-btn{display:none;position:relative;z-index:95;width:220px;height:40px; text-align:center;font:bold 14px/40px '\5B8B\4F53'!important;color:#333!important;cursor:pointer;letter-spacing:1px;}
.float-list-btn i{position:absolute;top:14px;left:42px;width:17px; height:13px; background-position:-448px -435px;}
.float-list-btn b{position:absolute;top:0;left:0;width:8px;height:8px;background-position:-85px -53px;overflow:hidden; display:none;}
.float-list dl{position:relative;float:left;z-index:94;clear:both; width: 100%;}
.float-list dl.on{}
.float-list dl a:hover{color:#f52648;}
.float-list dl dt{display:inline;position:relative;float:left;width:189px; padding: 14px 0px 2px 0px; margin:0 7px 0 14px; line-height:22px;overflow:hidden;  height:96px;}
.float-list dl dt a{padding:0 6px 0 0; width:30%;color:#666; line-height: 26px; font-weight: normal; font-size:13px;table-layout:fixed;white-space:nowrap; float:left;font-family: "microsoft yahei";}
.float-list dl dt strong{float:left;width:100%; display:block; height:22px;line-height:22px;margin:0 0 5px; overflow:hidden;color:#333;font-size:14px;font-family:'\5B8B\4F53'; font-weight:bold;font-family: "microsoft yahei";}

.float-list dl dt strong a{color:#000;font-size:14px;font-family:'\5B8B\4F53';line-height:18px;}
.float-list dl dt p{clear:both;height:72px;padding:0 0 0 5px;line-height:24px;overflow:hidden;}
.float-list .minp{clear:both;width:200px; margin:0 10px;overflow:hidden;z-index:100; background:#fff;}
.float-list .minp a{color:#000;}
.float-list .minp a.float-list-s2{text-indent:32px;background-position:7px 10px;}
.float-list .minp a:hover{ color:#f52648}
/*.float-list-s1:hover{color:#c29721;background-position:-305px -190px;}
.float-list-s2:hover{color:#c29721;background-position:-311px -272px;}*/
.float-list dl dd{display:none;position: absolute;top:0px;left:220px;background:#fff;color:#000; box-shadow: 2px 2px 3px #999; }
.float-list dl dd{width:692px;padding:0 0 20px;}
.float-list dl dd a{color:#666;white-space:nowrap; table-layout:fixed; font-family: "microsoft yahei";}
.float-list dl dd ul{display:inline;float:left;width:316px;margin:10px 5px 0 20px;line-height:24px;overflow:hidden;}

.float-list dl dd ul strong{width:70px; display:inline-block;   margin:0 0 7px; float: left; }
.float-list dl dd ul strong a{color:#000; font-size: 13px; font-weight:bold; line-height: 33px; }
.float-list dl dd ul .float-list-cont a{margin:0 14px 0 0; line-height: 25px; display:inline-block; font-weight: normal; font-size: 13px; color:#999;}
.float-list dl dd ul .float-list-cont b{font-weight: normal;}
.float-list dl dd ul .float-list-cont .dashed{display:block;margin:7px 0;height:0;overflow:hidden;border-bottom:1px  solid #e9e9e9;}
.float-list-cont{display: inline-block; width: 240px;  border-bottom: 1px #ccc dotted; float: left; padding:4px 0 6px 0; }
.float-list dl dd ul li{margin:0 0 5px; display:inline-block;}

.float-list-hot{float:right;width:220px;padding:0 20px 0 0;overflow:hidden;}
.float-list-hot img{float:right;width:220px;height:120px;margin:20px 0 0;}
.float-list textarea{display:none;}

.float-list dl dd .abarea{overflow:hidden;}
.float-list dl dd .abarea h2{font:bold 14px/35px "Microsoft YaHei";height:35px;color:#f52648;clear: both; text-align:center;}
.float-list dl dd .abarea ul{ overflow:hidden;zoom:1; margin:20px 10px 10px; width:672px; padding-bottom:2px;}
.float-list dl dd .abarea ul li{width:78px; height:40px; margin:5px 17px; float:left; border:#fafafa;  }
.float-list dl dd .abarea ul li a{width:78px; height:40px; border:1px solid #fafafa;display: inline-block;}
.float-list dl dd .abarea ul li a img{ width:78px; height:40px;}
.float-list dl dd .abarea ul li a:hover{ border:1px solid #f52648;}


.float-list{opacity: 0;}
.float-list dl>dt{height: 0; padding: 0; transition: height .2s;}

.float-list dl:hover{ background-color: #fff;}
.float-list dl:hover dd{display:block !important;}




.class-1 i,.class-2 i,.class-3 i,.class-4 i,.class-5 i{ background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat; display: inline-block; vertical-align: middle; margin-right: 10px; margin-left: 5px;}
.class-1 i{ width: 13px; height: 18px; background-position: -14px 0;}
.class-2 i{ width: 16px; height: 19px; background-position: -27px 0;}
.class-3 i{ width: 11px; height: 20px; background-position: -43px 0;}
.class-4 i{ width: 19px; height: 20px; background-position: -54px 0;}
.class-5 i{ width: 20px; height: 20px; background-position: -73px 0;}






/*加入购物车按钮*/
.add-to-cart{
	width:96px; height:28px; display: block; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; background-position:0 0; overflow:hidden; margin-top:10px; color:#fff; line-height: 27px; text-align:center;
}
.add-to-cart:hover{
	background-position:0px -28px;
}
.add-to-cart:active{
	background-position:0px -56px;
}

.add-to-cart.disabled{ background-position:0 -84px; cursor: default;}
.add-to-cart.hide{ opacity: 0;filter:alpha(opacity=0);}
.add-to-cart.hide:hover{ opacity: 1; filter:alpha(opacity=100);}
.add-to-cart.hide:active{ opacity: 1;filter:alpha(opacity=100);}



.pruwrap dt{ position: relative;}
.pro-tags{display: block; width: 222px; position: absolute; left:0; bottom:0; background-color: #fff; opacity: 0; filter:alpha(opacity=0); padding:10px; transition: opacity .2s; -webkit-transition:opacity .2s; -moz-transition: opacity .2s;  }
.pro-tags li{display: inline-block; padding: 2px 10px; margin: 3px 3px; background-color: #fff; color: #666; border-radius: 15px; border: #999 solid 1px;}
.pruwrap:hover .pro-tags{  opacity: 0.9; filter:alpha(opacity=90);}



.lf-icon{background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; display: inline-block;}
.lf-icon-up{background-position:-105px 0; width:8px; height: 4px;}
.lf-icon-down{background-position:-113px 0; width:8px; height: 4px;}
.lf-icon-right{background-position:-121px 0; width:5px; height: 8px;}
.lf-icon-left-1{background-position:-126px 0; width:6px; height: 9px;}
.lf-icon-right-1.red{background-position:-132px 0; width:6px; height: 9px;}
.lf-icon-right-1.white{background-position:-138px 0; width:6px; height: 9px;}
.lf-icon-right-1.grey{background-position:-144px 0; width:6px; height: 9px;}
.lf-icon-checked-o{background-position:-165px 0; width:35px; height: 35px;}
.lf-icon-close{background-position:-201px 0; width:11px; height: 11px;}
.lf-icon-left-o{background-position:-96px -38px; width:16px; height: 16px;}
.lf-icon-right-o{background-position:-112px -38px; width:16px; height: 16px;}
.lf-icon-left-o.fade{background-position:-143px -38px;}
.lf-icon-right-o.fade{background-position:-159px -38px;}
.lf-icon-imgchecked-o{background-position:-128px -38px; width:15px; height: 13px;}
.lf-icon-cart-o{background-position:-226px -20px; width:70px; height: 63px;}
.lf-icon-btn-search-confirm{background-position:-96px -54px; width:54px; height: 22px;}
.lf-icon-btn-search-cancel{background-position:-96px -76px; width:54px; height: 22px;}
.lf-icon-btn-mselect{background-position:-150px -54px; width:52px; height: 22px;}
.lf-icon-btn-mselect.fade,.lf-icon-btn-mselect:hover{background-position:-150px -76px; width:52px; height: 22px;}

.lf-icon-lastpage{background-position:-136px -98px; width:26px; height: 56px;}
.lf-icon-nextpage{background-position:-162px -98px; width:26px; height: 56px;}

.lf-icon-btn-goto{background-position:-189px -99px; width:106px; height: 34px;}
.lf-icon-btn-goon{background-position:-295px -99px; width:106px; height: 34px;}

.cart-fade-background{width:100%; height:100%; position: absolute; top: 0; left: 0; background-color: #000; display: none; opacity: .3; filter:alpha(opacity=30); z-index: 150;}








.addToCartValid-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #000;
	opacity: .3;
}

.addToCartValid{
	position: fixed;
	top: 30%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	height: 160px;
	border: 1px solid #e6e6e6;
	background: #fff;
	z-index: 10001;

}
.addToCartValid-title{
	text-align: center;
	font-size: 15px;
	height: 57px;
	line-height: 60px;
}

.addToCartValid a{
	display: inline-block;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
}

.addToCartValid-inputs input{
	width: 180px;
	height: 30px;
	line-height: 40px;
	border: 1px solid #ccc;
	margin: 0 10px 0 12px;
	float: left;
	text-align: center;
	font-size: 18px;
	color:#999;
}

.addToCartValid-inputs img{
	width: 83px;
	height: 30px;
	border: 1px solid #ccc;
	margin: 0;
	float: left;
	cursor: pointer;
}

.addToCartValid-inputs p{
	width: 277px;
	height: 20px;
	display: inline-block;
	float: left;
	color: red;
	text-align: left;
	margin-left: 13px;
}

.addToCartValid-submit{
	background-color: #4dc7c3;
	border: none;
	width: 277px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	margin: 12px;
	margin-top: 0;
	cursor: pointer;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}










/*帮助中心详细*/
.help{ width:1200px; margin:0 auto 20px;  }
.help .tit{ height:48px; line-height:48px;}
.help .tit span{ width:140px; border-bottom:2px solid #f62648; display:inline-block; height:46px; text-align:center; font-weight:bold; font-size:16px; }
.helptop{ height:10px;}
.leftnav{ float:left; width:220px;border-top:1px solid #cfcfcf;}
.helpLeftNav{ border-top:none;}
h2.gwznbt{ height:44px; border-bottom:1px solid #cfcfcf;border-top:1px solid #cfcfcf; margin:0px 1px; padding-left:30px; background:#f7f7f7;    margin-top: -1px;}
ul.gwznnav{ font-size:12px; font-family:"\5B8B\4F53"; color:#909090; padding-top:5px;}
ul.gwznnav li{ line-height:30px; height:30px;}
.helpLeftNav ul.gwznnav{ display:none;}
.helpLeftNav a.title:link,.helpLeftNav a.title:visited,.helpLeftNav a.title:hover{ color:#333; display:block; height:44px; line-height:44px;text-decoration:none; font-size:15px; font-weight:bold; font-family:microsoft yahei;}
.helpLeftNavon ul.gwznnav{ display:block;}
.helpLeftNavon a.title:link,.helpLeftNavon a.title:visited,.helpLeftNavon a.title:hover{ color:#333; display:block; height:44px; line-height:44px;text-decoration:none; font-size:15px;font-weight:bold;  font-family:microsoft yahei;}
.gwznnav li a{ color:#333; text-decoration:none; display:block; padding-left:30px;}
.gwznnav li a:hover,.gwznnav li.cur a{ color:#f62648;}

/*常见问题*/
.h-rightinfo{ width:950px; float:right; margin:0 10px;overflow: hidden;background:#fff; }
.h-rightinfo .t{height:40px; line-height:40px; padding-left:8px; font-size:16px; color:#000; margin-top:10px; font-family:"\5FAE\8F6F\96C5\9ED1"; font-weight:bold;}
.h-rightinfo .t1{height:40px; line-height:40px; padding-left:15px; font-size:16px; color:#000; margin-top:10px; font-family:"\5FAE\8F6F\96C5\9ED1"; font-weight:bold;}
.h-rightinfo .t img{ margin-right:10px;vertical-align:middle;}
.h-rightinfo .t1 img{ margin-right:10px;vertical-align:middle;}
.h-rightinfo .h-line{ border-top:1px solid #e4e4e4; width:97%;margin: 0 auto;}
.h-rightinfo .r-content{ margin-left:5px;}
.h-rightinfo .r-content p{padding: 10px 20px 0px 25px; text-align: left;color: #333333;}
.aboutus p {padding: 5px 20px; text-indent: 2em;}
.h-rightinfo .r-content h5{ background:#f8f8f8; height:40px;line-height:40px; padding-left:10px; font-size:14px; margin-left:10px; width:97%; }
.rightBoxsearch_middle_content {text-align: left;color: #666;}
.h-rightinfo .r-content .rightBoxsearch_middle_content p {line-height: 160%;position: relative;padding: 10px 20px 0px 85px;color: #797979;text-align: left;}
.rightBoxsearch_middle_content span {display: inline-block;left: 20px;position: absolute;color: #333;}
.position{margin-top:30px; color:#333333; margin-left:5px;}
.leftBoxsearch li td .r-line{ border-bottom:1px solid #e4e4e4;}
.leftBoxsearch li a:hover{ color:#f52648; cursor:pointer;}
.Shopping_Process {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5B8B\4F53";margin-bottom:20px; margin-top:24px; margin-left:15px;}
.Shopping_Process em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.Shopping_Process em.s_one{background-position:0 0;}
.Shopping_Process em.s_two{background-position:0 -48px;}
.Shopping_Process em.s_three{background-position:0 -96px;}
.Shopping_Process em.s_four{background-position:0 -144px;}
.Shopping_Process span{ margin-left:-115px; font-size:14px;}
.h-content p.ask {height: 50px;line-height: 50px; margin-left: 15px;padding-left: 10px; background:#f8f8f8; border-top:1px solid #f0f0f0;
color: #333333;}
.h-content p {padding: 0px 5px;}
.h-content p.ask img{ vertical-align:middle; margin-right:5px;}
.h-content p.answer {padding: 16px 30px 15px 25px;}
.h-content p.answer span {display: block;padding-left: 31px;}
.h-content {line-height: 22px;}
.h-content p.answer span b { line-height: 24px;color: #646464;}
.h-content p.answer a.blue{ color:#1c95d3;}
/*货到付款*/
.cash-delivery p {padding: 10px 20px 10px 25px;text-align: left;color: #333333;text-indent: 2em; line-height:30px; margin-top:20px;}
.cash-delivery-step p {line-height: 160%;position: relative;padding: 10px 20px 2px 60px;color: #333333;text-align: left;text-indent: -14px;}
.cash-delivery-step span{ margin-left:60px;color: #333333; line-height:25px;}

/*配送服务*/
.distribution-service {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.distribution-service em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.distribution-service em.d_1{background-position:0 0;}
.distribution-service em.d_2{background-position:0 -48px;}
.distribution-service em.d_3{background-position:0 -96px;}
.distribution-service em.d_4{background-position:0 -144px}
.distribution-service em.d_5{background-position:0 -192px;}
.distribution-service em.d_6{background-position:0 -240px;}
.distribution-service em.d_7{background-position:0 -288px;}
.distribution-service span{ margin-left:-115px; font-size:14px;}
.h-content p.sev{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }

/*乐蜂钱包支付*/
.wallet-p p {padding: 10px 20px 10px 25px;text-align: left;color: #333333;text-indent: 2em; line-height:30px;margin-top:20px;}
.wallet-payment {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.wallet-payment em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold;}
.wallet-payment em.wp_1{background-position:0 0;}
.wallet-payment em.wp_2{background-position:0 -48px;}
.wallet-payment span{ margin-left:-115px; font-size:14px;}
.h-content p.wal-pay{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }
.h-content p.wal-pay a.red{ color:#f37f80;}

/*优惠券使用*/
.coupons {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.coupons em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.coupons em.cup_1{background-position:0 0;}
.coupons em.cup_2{background-position:0 -48px;}
.coupons span{ margin-left:-115px; font-size:14px;}
.h-content p.coupon-use{color:#414141;padding: 10px 20px 0px 70px;text-align: left; line-height:30px; }

/*在线支付*/
.online-payment p {padding: 10px 20px 10px 25px;text-align: left;color: #333333;text-indent: 2em; line-height:30px; margin-top:20px;}
.online-pay {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.online-pay em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold;}
.online-pay em.op_1{background-position:0 0;}
.online-pay em.op_2{background-position:0 -48px;}
.online-pay span{ margin-left:-115px; font-size:14px;}
.h-content p.on-pay{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }

/*注册登录*/
.user-reg {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.user-reg em{width: 43px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold;}
.user-reg em.ur_1{background-position:0 0;}
.user-reg em.ur_2{background-position:0 -48px;}
.user-reg span{ margin-left:15px; font-size:14px;}
.user-reg1 {width: 475px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px; position:relative;}
.user-reg1 em{width: 43px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold;}
.user-reg1 .user-con-l{ width:475px; margin-left:60px;}
.user-reg1 em.ur_1{background-position:0 0;}
.user-reg1 em.ur_2{background-position:0 -48px;}
.user-reg1 span{ margin-left:15px; font-size:14px;}
.h-content p.use-reg{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }


/*取消订单*/
.cancel-order p {padding: 10px 20px 10px 25px;text-align: left;color: #333333; line-height:30px;margin-top:20px;}
.cancel-o{margin: 10px 0 0 10px;}

/*我的蜂巢*/
.my-hive {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.my-hive em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.my-hive em.mh_1{background-position:0 0;}
.my-hive em.mh_2{background-position:0 -48px;}
.my-hive em.mh_3{background-position:0 -96px;}
.my-hive span{ margin-left:-115px; font-size:14px;}
.h-content p.hive{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }

/*忘记密码*/
.forget-passwordp p {padding: 10px 20px 10px 25px;text-align: left;color: #333333;text-indent: 2em; line-height:30px;margin-top:20px;}
.forget-psd {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.forget-psd em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.forget-psd em.sp_1{background-position:0 0;}
.forget-psd em.sp_2{background-position:0 -48px;}
.forget-psd em.sp_3{background-position:0 -96px;}
.forget-psd span{ margin-left:-115px; font-size:14px;}
.h-content p.fget-psd{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }
.h-content p.fget-psd img{ vertical-align:middle;}

/*联系客服*/
.contact-customer-service {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.contact-customer-service em{width: 43px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.contact-customer-service em.ccs_1{background-position:0 0;}
.contact-customer-service em.ccs_2{background-position:0 -48px;}
.contact-customer-service em.ccs_3{background-position:0 -96px;}
.contact-customer-service em.ccs_4{background-position:0 -144px;}
.contact-customer-service span{ margin-left:15px; font-size:14px;}
.h-content p.customer-service{color:#414141;padding: 0px 20px 0px 70px;text-align: left; font: normal 12px/34px "\5FAE\8F6F\96C5\9ED1";}

/*商务合作*/
.h-content p.business-cooperation img{padding: 50px 20px 0px 30px;}

/*退货流程*/
.return-process p {padding: 10px 20px 10px 25px;text-align: left;color: #333333;text-indent: 2em; line-height:30px;margin-top:20px;}
.return-process1 p {padding: 10px 20px 10px 25px;text-align: left;color: #333333; line-height:30px;}
.reminder p.rem{color: #646464;padding: 0px 20px 0px 25px;text-align: left; line-height:30px;}
.reminder p.rem1{color: #646464;padding: 0px 20px 0px 25px;text-align: left; text-indent: 2em;line-height:30px;}
.reminder{ margin-top:-5px;}
.return-prc {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.return-prc em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.return-prc em.rp_1{background-position:0 0;}
.return-prc em.rp_2{background-position:0 -48px;}
.return-prc em.rp_3{background-position:0 -96px;}
.return-prc em.rp_4{background-position:0 -144px;}
.return-prc em.rp_5{background-position:0 -192px;}
.return-prc em.rp_6{background-position:0 -240px;}
.return-prc span{ margin-left:-115px; font-size:14px;}
.h-content p.ret-prc{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }
.h-content p.ret-proc{color:#414141;padding: 10px 20px 0px 25px;text-align: left; }
.h-content p.ret-p{color:#414141;padding: 10px 20px 0px 70px;text-align: left;text-indent: 2em; }
.h-content p.ret-pr{color:#414141;padding: 10px 20px 0px 70px;text-align: left;text-indent: 4em; }

/*购物流程*/
.shop-process{width: 694px;height: 184px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:86px;}
.shop-process em{width: 694px;height: 184px; display: block;text-align: center;float: left;
font-weight: bold; background:url(../images/46ebc93154d475186e4d9b52c55e5d2e.png); }
.shop-process em.shop_1{background-position:0 0;}
.shop-process em.shop_2{background-position:0 -184px;}
.shop-process em.shop_3{background-position:0 -368px;}
.shop-process em.shop_4{background-position:0 -552px;}
.shop-process div.s-pro{ position:relative; left: 64%;line-height: 20px;font-weight: normal; top:-132px; z-index:10;}

/*退货方式及时效*/
.refund-mode-aging{ margin-bottom:15px;}
.refund-mode-aging p {padding: 10px 20px 10px 25px;text-align: left;color: #333333;text-indent: 2em; line-height:30px;margin-top:20px;}
.refund-mode-aging1{ margin-top:-5px;}
.refund-mode-aging1 p.rma{color: #333333;padding: 0px 20px 0px 25px;text-align: left; line-height:30px;}
.h-content p.ret-prc{color:#414141;padding: 10px 20px 0px 70px;text-align: left; }
.h-content p.ret-proc{color:#414141;padding: 10px 20px 0px 25px;text-align: left; }
.h-content p.ret-p{color:#414141;padding: 10px 20px 0px 70px;text-align: left;text-indent: 2em; }
.h-content p.ret-pr{color:#414141;padding: 10px 20px 0px 70px;text-align: left;text-indent: 4em; }

/*退货政策*/
.return-policy {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.return-policy em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold;}
.return-policy em.rep_1{background-position:0 0;}
.return-policy em.rep_2{background-position:0 -48px;}
.return-policy span{ margin-left:-115px; font-size:14px;}
.h-content p.return-pol{color:#414141;padding: 0px 20px 0px 70px;text-align: left; }
.h-content p.return-pol1{color:#646464;padding: 25px 20px 0px 70px;text-align: left; }

/*订单状态及操作*/
.order-status-operation{position:relative;*position:static; background:#ffffff;}
.order-status-operation table{width:920px;border:1px solid #ebebeb;border-collapse:collapse;border-spacing:0;color:#666;font-family:Arial; margin:10px 0 0 0;}
.order-status-operation table th {background: #f9f9f9;color: #464646;border-bottom: 1px solid #e7e7e7;text-align: center;
padding-top: 10px;padding-left: 34px;padding-bottom: 10px;padding-right: 10px;}
.order-status-operation table td {border-bottom: 1px dashed #cdcdcd;text-align: center;
padding-top: 15px;padding-left: 34px;padding-bottom: 15px;padding-right: 10px; color:#464646;}
.order-status-operation table .itemwd2{width:305px;}
.order-status-operation table .itemwd3{width:210px;}
.order-status-operation table .itemwd4{width:140px;}

/*验货与签收*/
.inspection-and-receipt {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.inspection-and-receipt em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold;}
.inspection-and-receipt em.ir_1{background-position:0 0;}
.inspection-and-receipt em.ir_2{background-position:0 -48px;}
.inspection-and-receipt em.ir_3{background-position:0 -96px;}
.inspection-and-receipt span{ margin-left:-115px; font-size:14px;}
.h-content p.inspection-receipt{color:#414141;padding: 0px 20px 10px 70px;text-align: left; }

/*海淘商品购买须知*/
.purchase-information {width: 690px;height: 48px;color: #333;font: bold 12px/34px "\5FAE\8F6F\96C5\9ED1"; margin-top:24px; margin-left:15px;}
.purchase-information em{width: 173px;height: 48px; display: block;text-align: center;float: left;
font-weight: bold; }
.purchase-information em.pi_1{background-position:0 0;}
.purchase-information em.pi_2{background-position:0 -48px;}
.purchase-information em.pi_3{background-position:0 -96px;}
.purchase-information em.pi_4{background-position:0 -144px;}
.purchase-information span{ margin-left:-115px; font-size:14px;}
.h-content p.pur-infor{color:#414141;padding: 0px 20px 10px 55px;text-align: left; }
.h-content p.pur-infor-w{color:#414141;padding: 0px 20px 10px 90px;text-align: left;text-indent:-19px;}
.h-content p.pur-infor-w-r{color:#414141;padding: 0px 20px 10px 70px;text-align:right; }
.h-content div.pur-infor1{color:#414141;padding: 0px 20px 10px 20px;text-align: left; }
.h-content div.pur-infor1 table td div.pur1{ width:215px; margin-right:20px;}
.h-content div.pur-infor1 table td div.pur2{ width:215px;margin-right:15px;}
.h-content div.pur-infor1 table td div.pur3{ width:210px;margin-right:15px; margin-left:6px;}
.h-content div.pur-infor1 table td div.pur4{ width:205px; margin-left:18px;}

/*防骗公告*/
.fpgg {width: 750px;padding: 25px 80px;margin: 0 auto;overflow: hidden;zoom: 1;border: 1px solid #dadada;font-size: 14px;line-height: 25px;background: #fffffb;margin-top: 30px;}


/*帮助中心首页*/
.help_indexmain{ overflow:hidden;  }
.help_indexleft{ width:968px; border:1px solid #cccccc; float:left; overflow:hidden; background:#fff; margin-top:10px; padding:25px 0 }
.help_indexright{ width:218px; border:1px solid #cccccc; float:right; overflow:hidden; background:#fff;margin-top:10px;}
.help_indexleft .box{width:93%;overflow:hidden;margin:0 auto 0px auto; padding:0px 0px 20px; line-height:22px;}
.help_indexleft .box dt{height:30px;line-height:30px;font-size:16px;font-weight:bold;text-align:left; font-family:microsoft yahei; color:#464646;}
.help_indexleft .box dt label{padding-right:10px;}
.help_indexleft .box dd{padding:0 40px;text-align:left;}
.help_indexleft .box dd a{ color:#646464; padding-right:60px;}

.help_indexright h2{width:100%;height:44px;line-height:44px;}
.help_indexright li{text-align:left;text-indent:25px; height:38px; line-height:38px; font-size:14px;}
.help_indexright li b{ color:#f62648; font-family:Arial; font-weight:bold;}
.help_indexleft .box dt img{ padding-right:12px;vertical-align:middle;}



/*招聘信息*/
#leftBoxsearch { width: 220px;overflow: hidden;float: left; height:510px; background:#fff; border:1px solid #cccccc;}
.recruitment{ width:1200px; margin:0 auto;  }
.recruitment .tit{ height:48px; line-height:48px;}
.recruitment .tit span{ width:140px; border-bottom:2px solid #f62648; display:inline-block; height:46px; text-align:center; font-weight:bold; font-size:16px; }
.recruitment-top{ height:10px; margin-top:10px;}
.recruitment-main{ overflow:hidden;}
.leftBoxsearch h2.Job-title {height: 44px;border-bottom: 1px solid #cfcfcf;border-top: 1px solid #cfcfcf;margin: 0px 1px;
padding-left: 30px;background: #f7f7f7;line-height:44px; font-size:18px; color:#464646; margin-top:10px;}
.leftBoxsearch_zw {padding: 10px 10px 0px;overflow: hidden;width: 200px;background-color: #FFF;}
.leftBoxsearch ul {margin: 0px; padding: 0px;}
.leftBoxsearch_zw .leftBoxsearch_zw_nobg {background: transparent none repeat scroll 0% 0%;height: auto;}
.leftBoxsearch li {margin: 2px 0px;color: #FFF; line-height: 27px;text-align: left; padding: 0px 10px;}
.leftBoxsearch li td {line-height: 18px; padding: 5px 0px;}
.job_list {font-size: 16px;font-weight: bold;color: #666;}

.rightinfo{ width:950px; float:right; margin:0 10px;overflow: hidden;background:#fff; border:1px solid #cccccc;}
.rightinfo .t{height:40px; line-height:40px; padding-left:18px; font-size:14px; color:#000; margin-top:10px;}
.rightinfo .t img{ margin-right:10px;vertical-align:middle;}
.rightinfo .h-line{ border-top:1px solid #e4e4e4; width:97%;margin: 0 auto;}
.rightinfo .r-content{ margin-left:5px;}
.rightinfo .r-content p{padding: 10px 20px 0px 25px; text-align: left;color: #333333;}
.aboutus p {padding: 5px 20px; text-indent: 2em;}
.rightinfo .r-content h5{ background:#f8f8f8; height:40px;line-height:40px; padding-left:10px; font-size:14px; margin-left:10px; width:97%; }
.rightBoxsearch_middle_content {text-align: left;color: #666;}
.rightinfo .r-content .rightBoxsearch_middle_content p {line-height: 160%;position: relative;padding: 10px 20px 0px 85px;color: #797979;text-align: left;}
.rightBoxsearch_middle_content span {display: inline-block;left: 20px;position: absolute;color: #333;}
.position{margin-top:30px; color:#333333; margin-left:5px;}
.leftBoxsearch li td .r-line{ border-bottom:1px solid #e4e4e4;}
.leftBoxsearch li a:hover{ color:#f52648; cursor:pointer;}


i{ font-style:normal;}
.yqlj_container{ width:100%; overflow:hidden; background:#EEEEEE;}
.yqlj_content{ width:960px; overflow:hidden; margin:10px auto; background:#FFF;}
.yqlj_content p.yqlj{ width:940px; margin:0 auto; height:39px; line-height:39px; overflow:hidden; border-bottom:1px solid #EEEEEE;}
.yqlj_content p.yqlj em{ float:left; display:inline; font:normal 14px/39px Microsoft YaHei; color:#333333; padding:0 0 0 10px;}
.yqlj_content p.yqlj i{ float:right; display:inline; font:normal 12px/30px SimSun; color:#999999; padding:9px 10px 0 0;}
.yqlj_ljinfo{ width:920px; overflow:hidden; margin:10px auto 0; padding:0 0 20px;}
.yqlj_ljinfo li{ float:left; display:inline; width:130px; height:25px; line-height:25px; overflow:hidden; margin:0 0 5px 20px;}
.yqlj_ljinfo li a{ font:normal 14px/25px SimSun; color:#666;}
.yqlj_ljinfo li a:hover{ text-decoration:underline;}
.fpgg{
width:100% !important;
border:0 !important;
margin:0px !important;
padding: 0px !important;
}