@charset "utf-8";
html{background-attachment:fixed;}
body{color:#666;font-size:12px; font-family:  tahoma,arial;background:#f5f5f5;background-attachment:fixed;min-width:1000px;}
body.dealBK{background:#4c0101 !important;}
body{width:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,tr,table,tbody{margin:0;padding:0;}
table{border-collapse: collapse; border-spacing: 0;}
ol,ul,li{list-style-type:none;}
img{border:0 none;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
b,em{font-style:normal;font-weight:normal;}
a{color:#666;text-decoration:none;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
*:focus { outline: none!important;}
/*公共箭头样式*/
.areaSellBtn i,.fxb-title a i{display: inline-block;width: 0;height: 0;font-size: 0;overflow: hidden;}
/*公共背景图片*/
.Chead-app,.Cfooter_service ul li,.Cfooter-info dt strong, .Cfooter-cr-img a,.search-input,.Chead-logo a, .nav_l,.Cfooter-info .f-sao1 b, .Cfooter-info .f-sao2 b, .shopping-btn, .shopping-list .goshopping,.shopping-list-title, .float-list-btn i,.Chead-appDown div h6 b,.Chead-appDown div a,.top-list .orderDivId dl dt strong,.Cnav-starp dt b, .Chead-tip-arrow, #Chead_tip_close{background:url(../images/a75e8782863e3748a627deaddf81037a.png) no-repeat;}
.Chead-tip-arrow,.arrow-down,.first-ad h3 a i,.float-list-btn i,.shopping-list i,.Chead-info i,.nav-tab b.on i{display:inline-block;width:0;height:0;font-size:0;overflow:hidden;}

.Chead{}


/*导航-副导航*/
.Chead-info{height:30px;line-height:32px; background:#f2f2f2; position:relative; z-index:132;}
.Chead-info-box{width:1000px; margin:0 auto; position:relative;text-indent: 17px; z-index:96; font-family:"\5B8B\4F53";}
.Chead-app{float:right;padding: 0 0 0 10px;  background-position: -527px -248px;cursor:pointer; color:#f52648!important;}
.Chead-appDown{position:absolute;right:-50px;width:171px;height:249px;background-repeat: no-repeat; background-image: none; z-index: 99; display: none; text-indent:0}
.Chead-appDown div{position:absolute; top:28px;border: 1px solid #dfdfdf; width:137px;padding-top: 6px; background:#fff;left: -6px;}
.Chead-appDown div img{display: block; margin: 10px auto; width:auto !important;}
.Chead-appDown div h6{ text-align: center; }
.Chead-appDown div h6 b{display: inline-block; width:20px; height: 22px; vertical-align: middle; margin-right: 5px;}
.Chead-appDown div h6 b.i1{ background-position:-536px -285px}
.Chead-appDown div h6 b.i2{ background-position:-536px -316px}
.Chead-appDown div a{width:80px; height: 30px; display: block; margin: 10px auto; text-align:center; color:#fff; background-position:-304px -43px;}
.Chead-appDown div a:hover{background-position:-304px -170px;}
.Chead-appDown span.turl{display:block; position:absolute; top:0; width:80px; height:29px;background: #fff;border-left: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf; right:18px ; }
.Chead-appDown span.turl a{padding: 0 0 0 24px; background-position:-530px -248px}
.Chead-save,.Chead-welcome,.Chead-info .turl{position:relative;float:right;margin:0 20px 0 0;cursor:pointer; text-indent:0;}
.Chead-save{margin-right:10px;}

.Chead-welcome a,.Chead-welcome b{color:#f52648;}
.Chead-info .fast-nav,.Chead_myh{padding:0 11px 0 0;}
.Chead-myhome,.Chead-fxb{position:absolute;background:#fff;z-index:99;top:0; overflow:hidden; border:1px solid #dfdfdf; padding-bottom:4px;}
.Chead-myhome{width:77px;}
.Chead-fxb{width:88px;}
.Chead-myhome,.Chead-fxb{display:none;}
.Chead-myhome{right:220px;}
.Chead-fxb{right:216px;}
.Chead-myhome i,.Chead-fxb i{position:absolute;top:-10px;left:40px;z-index:99;border:4px dashed transparent;border-bottom:4px solid #ded8cd;}
.Chead-tip-arrow, .arrow-down, .first-ad h3 a i, .float-list-btn i, .Chead-info i, .nav-tab b.on i,.Cnav-one a i{display: inline-block;width: 0;height: 0;font-size: 0;overflow: hidden;}
.Chead-myhome a,.Chead-fxb a{color:#333;text-indent: 5px;display: block; line-height:2;text-indent: 8px;margin-bottom:4px;}
.Chead-info .Chead-myhome .turl i{left: 50px;top: 11px;}
.Chead-info .Chead-fxb .turl i{left: 65px;top: 11px;}
.Chead-info .Chead-myhome .turl{margin: 2px 21px 11px 0;}
.Chead-info .Chead-fxb .turl{margin: 2px 20px 11px 0;}
.Chead-myhome a:hover,.Chead-fxb a:hover{color:#f52648;}

.Chead-info .turl i{display: inline-block; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; background-position: -96px 0; width: 8px; height: 4px; border: none; position:absolute;top:14px;right:1px; }

#fxbmain{ padding:0 5px 0 0;}
#fxbmain i{right:-7px !important;}
.Chead-floatmenu{display:none;position:absolute;right:224px;top:0;height:269px;right:224px\0}
.Chead-floatmenu div{position:absolute; top:29px; border: 1px solid #dfdfdf; width:137px;padding-top: 6px; background:#fff;left:17px\0;}

.Chead-floatmenu div a{float:left;}
.Chead-floatmenu span.turl{position:absolute; top:0; width:64px; position:absolute; left:0; left:17px\9;background: #fff;border-left: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf;text-indent: 11px;}
.Chead-floatmenu a{display:inline;float:left;width:66px;height:28px;overflow:hidden;color:#333; text-indent:12px;}
.Chead-floatmenu a:hover{color:#f52648;}
.Chead-floatmenu .turl i{right: 6px;}
.Chead-floatmenu h6{ width:137px; text-align:center; height:158px; overflow:hidden; color:#f52648; text-indent:0}
.Chead-floatmenu h6 img{display:block; margin:12px auto 6px auto; width:auto !important;}
.Chead-floatmenu h6 b{display:block; line-height:20px;}
@-moz-document url-prefix(){.Chead-floatmenu{right:207px} /*All Firefox 火狐*/}
.nav-bk{}
/*区域销售*/
.areaSellBtn{display:inline-block; *zoom:1; *display:inline; padding:0 10px; color:#f52648; font-weight:bold; position:relative;  text-indent:0}
.areaSellBtn i{position: absolute; }
.areaSellBtn i.up{top: 14px;right: -2px;  display: inline-block; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; background-position: -96px 0; width: 8px; height: 4px; }
.areaSellBtn i.down{top: 8px;right: -2px;border-bottom: 4px solid #f52648;}
.areaSell{position:absolute; left:6px; top:-1px; min-width:117px; z-index:100; display:none; }
.areaSell span{ display:block; width:97px; padding:0 10px; height:29px; border-left:1px solid #dfdfdf;background:#fff; border-right:1px solid #dfdfdf;position: absolute;left: 0;top: 1px; text-indent:0}
.areaSell ul{width:311px; height:216px; overflow:hidden; background:#fff; border:1px solid #dfdfdf;background:#fff;position: absolute;left: 0;top: 29px; padding:15px 0 10px 0;}
.areaSell ul li{float:left; width:58px; text-indent:22px;}
.areaSell ul li a:hover{color:#f52648;}


.Chead-main{position:relative; width:1000px; height:170px;margin:0 auto;z-index:120;  }
/*LOGO*/
.Chead-logo{position: absolute; top:8px; left:0; width:180px;height:90px;z-index: 95;}
.Chead-logo a { width: 171px;  height: 88px; display: inline-block; background: transparent url(../images/1f8e4d066afc4d8672663de9e3e83b36.gif) no-repeat;}
.Chead-logo img{display: none;}
/*搜索*/
.Chead-search{ position:relative;z-index:95;display:inline;float:left;width:400px;height:58px; margin:31px 0 0 300px; }
.search-input{ background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; background-position:0 -443px; height: 40px;margin-top: 5px;position:relative;width:400px;height:40px; }
.search-input input{float:left;width:298px;height:27px;padding:6px 10px 5px 17px; line-height:27px;background:none;border:none;color:#666;font-size:14px;outline:0 none;}
.search-submit{position:absolute;right:0;top:0;width:72px;height:40px;cursor:pointer;overflow:hidden;color:#fff; font-size:15px; line-height: 40px; text-align: center; }
.search-input .searchtip{display:none; float:none; left:1px; top:40px; height:auto; width:327px!important; color:#666; border: 1px solid rgb(222, 212, 213); position: absolute; z-index: 9999; padding: 5px 0px; background: rgb(255, 255, 255); border-top: none;}
.search-input .searchtip strong{padding:0 6px;line-height:22px;color:#999; }
.search-input .searchtip span{display: none;}
.search-input .searchtip div{background:#fff;border:none;width: 327px; padding: 0; float: left; overflow: hidden; line-height: 28px; color: rgb(102, 102, 102); cursor: pointer; }
.search-input .searchtip ul{list-style:none; clear: both; overflow: hidden;}
.search-input .searchtip ul.on{background-color: rgb(245, 245, 245);}
.search-input .searchtip ul li.r{float:right;padding-right: 6px;}
.search-input .searchtip ul li.l{float:left; padding-left: 6px;}
.search-input .searchtip ul li b{color:#f00;}
.search-input .searchtip ul li.li01{ float:left}
.search-input .searchtip ul li.li02{ float:right;text-align:right;color:#999;}
.search-input .searchtip ul li.li02 span{ color:#f00;}

.search-input.active{background-position:0 -483px;}

.Chead-search p{text-indent:1em;width:360px;overflow:hidden; float: left}
.Chead-search p,.Chead-search p a{line-height:33px;color:#999; overflow:hidden;}
.Chead-search p a{margin:0 10px 0 0;}
.Chead-search p a:hover,.Chead-search p a:active{color:#f52648;}
.Chead-search p a.highlight {
	color: #ff0056;
}

/*购物车*/
.Chead-shopping-wrap{float:right; position:relative; z-index:97}
.Chead-shopping{position: absolute;right: 0; top: 38px; z-index: 98; }
.shopping-btn{ width:136px; height:42px; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png);  background-position:0 -112px ; cursor: pointer; }

.shopping-btn strong{margin-right:10px\9;}
.shopping-list{ position:absolute; top:0; right:1px; width:300px; /*filter:alpha(opacity=95);opacity:0.95;*/display:none; z-index: 100; filter:\9;}
.shopping-list-title{ background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-position:0 -156px; width:300px; height:42px; _overflow:hidden; cursor: pointer;  }


.shopping-btn strong,.shopping-list-title strong{
    line-height: 1em; font: bold 14px/41px Arial;color: #fff; position: relative; width:30px; height: 20px; left: 97px; top:12px;  display: inline-block; text-align: center; margin-right: 8px; text-indent:0; line-height: 1em;}

.shopping-list-title strong{ left:262px; }

.shopping-list-pro{background:#fff; width:278px; padding:10px; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; position:relative;}
.noshop{width: 298px;padding: 30px 0; text-align:center;}
.shopping-list-bar{max-height:490px; margin-bottom:10px;_height:expression(this.scrollHeight > 490 ? "490px" : "auto");}
.shopping-list-barOn{width:291px; width:288px\9; _width:278px;}
.shopping-list-barOn dl{width:275px; _width:258px;}
.shopping-list-barOn dl dd.shopping-pro{width:100px}
.shopping-list-barOn dl dd.shopping-price{width:87px;}
.jscroll-e,.jscroll-h{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.jscroll-e{right:3px\9;}
.shopping-list dl{height:67px;padding:13px 5px;border-bottom:1px dotted #c1c1c1;; overflow:hidden;}
.shopping-list dl dt{float:left;width:53px;height:67px; text-indent:0}
.shopping-list dl dt img{width:53px;height:67px;border: 1px solid #f3f3f3;}
.shopping-list dd{float:left;height:60px; line-height:20px;overflow:hidden;}
.shopping-list dd a{color:#666;}
.shopping-list .shopping-pro{width:110px;padding:0 10px; text-indent:0}
.shopping-list .shopping-price{width:85px;text-align:right;color:#333;}
.shopping-list .shopping-price em{font-weight:bold; font-size: 12px;color:#f52648;}
.shopping-list .shopping-price a{display:block;font-weight:normal;color:#999;text-decoration:underline;}
.shopping-list p{font-family:Microsoft YaHei;color:#666;}
.shopping-list p b{padding:0 1px;color:#e9254b;font-weight:bold;}
.shopping-list p span b{font:bold 22px Microsoft YaHei;vertical-align: -9%;}
.shopping-list p span b em{font:bold 14px times;}
.shopping-list .goshopping{display: block;float: right;margin-top: -36px; width:100px; height:30px;  background-position: -304px -84px; text-align:center; line-height:30px; color:#fff; text-indent:0; _zoom:1; _display:inline;}













.Cnav-main{width:1000px;height:40px;position:absolute;bottom:0;_bottom:-1px;left:0; z-index:90; background:#f52648;}
.nav_l{width:251px; height:27px; position:absolute; left:-16px; bottom:13px; background-position:-304px 0;}
.Cnav-one{height:40px; float: left; overflow:hidden; text-indent:0; display:inline;}
.Chead-search-t{float: right;}
.Cnav-one a{width: 200px; height: 40px; line-height: 40px;display:inline-block; position: relative; *zoom:1;  color:#fff; font-weight: bold; text-align: center; font-size: 14px; margin-right:12px; *margin-right:16px; overflow:hidden; float:left; text-decoration:none;}
.Cnav-one a:hover,.Cnav-one a.on{background: #df1738;}
.Cnav-one a i{  top:15px; display: inline-block;  background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png);  background-position:-96px -4px; width: 8px; height: 5px;  position:absolute; right:10px; }


.fxbNav{position:absolute;left:305px;top:5px;width:120px;height:35px;z-index:90;text-align:center;line-height:24px;overflow:hidden;}
.fxbNav .fxbmain{position:relative;left:-5px;line-height:29px;height:36px;display:block;}
.fxbNav .fxbBtn{display:none;overflow:hidden;}
.fxbNavon{height:auto;padding:0 0 10px;background:#f1ebde;border-radius:5px;filter:alpha(opacity=95);opacity:0.95;}
.fxbNavon .fxbmain{color:#e9254b!important;}
.fxbNavon a:hover{color:#ca8519;}
.arrow-down{position:absolute;top:12px;right:10px;border:5px dashed transparent;border-top:5px solid #999;}
.fxbNavon .arrow-down{top:7px;border:5px dashed transparent;border-bottom:5px solid #999;}
/*更多明星*/
.Cnav-starp{position:absolute;right:0;top:97px;width:240px;z-index:90; display:none;}
.Cnav-starp dt{height:40px;line-height:40px;text-indent:83px;font:bold 14px/40px '\5B8B\4F53';color:#fff;cursor:pointer;letter-spacing:1px;}
.Cnav-starp dt b{position:absolute;top:12px;left:57px;width:18px;height:17px;background-position:-479px -373px;}
.Cnav-starp dt i{position:absolute;top:0;right:0;width:8px;height:8px;background-position:-85px -63px;overflow:hidden; display:none}
.Cnav-starp dd{display:none;padding:0px 0 4px;height:auto;overflow:hidden; background:#fff;}
.Cnav-starp dd a{float:left;width:120px;height:100px;color:#ff8099;text-align:center;line-height:103px;overflow:hidden;}
.Cnav-starp dd a:hover{color:#f06580}
.Cnav-starp-on dt i{background-position:-85px -43px;}
.Cnav-starp-on dt{background:#df1738;}
.Cnav-starp-on dd{display:block;}
/*商场美妆*/

.top-list{position:absolute;width:738px; height:315px; padding:0 19px; left:50%; ﻿line-height: 1.5em; margin-left:-369px; top:40px; background:#fff; border:1px solid #dfdfdf; z-index:111;box-shadow: 0px 1px 3px #dfdfdf; display:none; text-indent:0}
.top-list .float-list-btn{display:none;}
.top-list .orderDivId dl{ float:left; width:215px; height:125px; overflow:hidden;margin:20px 15px 0 15px;}
.top-list .orderDivId dl dt strong{border-bottom:1px dotted #dfdfdf; display:block; line-height:34px; text-indent:22px; font-size:14px;color:#333; font-weight:bold;}
.top-list .orderDivId dl.webf0 dt strong{background-position:-538px -343px}
.top-list .orderDivId dl.webf1 dt strong{background-position:-538px -378px}
.top-list .orderDivId dl.webf2 dt strong{background-position:-538px -413px}
.top-list .orderDivId dl.webf3 dt strong{background-position:-538px -448px}
.top-list .orderDivId dl.webf4 dt strong{background-position:-538px -483px}
.top-list .orderDivId dl.webf5 dt strong{background-position:-535px -518px}
.top-list .orderDivId dl dt p a{display:inline-block; margin:10px 20px 0 0;color:#666}
.top-list .orderDivId dl dt p a:hover{color:#f52648!important}
.orderDivId strong img{display: inline-block !important; vertical-align: text-bottom; margin-right: 10px; width: auto !important;}
.top-list .float-list p.minp{display:none;}
.top-list .minp{ display:none}


.Cnav-right{float: right; }
.Cnav-right>a{display: inline-block; width: 23px; height: 25px; margin: 7px; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat;}
.Cnav-right-icon-1{ background-position: -96px -13px !important;}
.Cnav-right-icon-2{ background-position: -119px -13px !important;}
.Cnav-right-icon-3{ background-position: -142px -13px !important;}


/*头部结束*/




/*面包屑*/
.path{line-height:33px; text-indent:10px;}
.product-info{}





/*footer css*/

.w1000{width:1000px;margin:0px auto; overflow:hidden;}
.w1000 li:hover{cursor:pointer;}
.Cfooter{clear:both;background:#fff; overflow:hidden; }

.Cfooter_service ul{height: 138px; border-bottom:1px dotted #c1c1c1;}
.Cfooter_service ul li{ display:inline-block; background-image: url(../images/23122da223a7da5293a116c8f07f19d6.png); background-repeat: no-repeat; height: 79px;  width:215px; margin:30px auto; margin-left: 107px; }
.Cfooter_service ul li.li01{background-position: 0 -197px;}
.Cfooter_service ul li.li02{background-position: 0 -278px;}
.Cfooter_service ul li.li03{background-position: 0 -359px;}

.Cfooter-info{height:250px;  font-family:Microsoft YaHei;}
.Cfooter-info dl{height:250px; border-bottom:1px dotted #c1c1c1;}
.Cfooter-info dt{float:left;width:216px; padding:30px 30px 0 0;}
.Cfooter-info dt strong{display:block; width:174px; height:112px;   background-position: -315px -259px; margin-top:10px;}
.Cfooter-info dt em{display:block; text-indent: 8px; }
.Cfooter-info dd{float:left;padding:20px 65px 0 0;}
.Cfooter-info dd strong{font-size:16px;line-height:80px;font-weight:normal;}
.Cfooter-info dd a{display:block; line-height:22px;}
.Cfooter-info .f-sao1,.Cfooter-info .f-sao2{width:90px;}
.Cfooter-info .f-sao1 b,.Cfooter-info .f-sao2 b{display:block;width:77px;height:77px;border:1px solid #ccc;  background-position: -229px -368px;  padding:4px;}
.Cfooter-info .f-sao2 b{  background-position: -311px -368px;}

.Cfooter-cr{width:1000px;margin:31px auto 0px auto;line-height:22px;text-align: center; overflow:hidden; color: #999;}
.Cfooter-cr a{ display: inline-block; padding:0 10px}
.Cfooter-cr-a{margin-bottom: 20px;}
.Cfooter-cr-a>a{padding-right:70px !important; color:#000;}
.Cfooter-cr-info{ margin: 10px 0;}
.Cfooter-cr .carial b {font-family: Tahoma;}
.Cfooter-cr-img{clear:both;padding:10px 0 20px; }
.Cfooter-cr-img b { display:inline-block; height:40px; line-height:321px; margin:0 20px 0 0; overflow:hidden; width:112px;}
.Cfooter-cr-img a{margin-right:20px;display:inline-block; width:110px;height:40px;overflow:hidden; padding:0 !important; line-height:321px;}
.Cfooter-cr a.pjzxlm {}
.Cfooter-cr a.kxwz {height: 36px;}
.Cfooter-cr a.cxwz {height: 36px;}
.Cfooter-cr .itrust{height:37px;    background-position: -194px -277px;}
.Cfooter-cr .xfwq{width:104px;background-position:-194px -315px; height:37px;  }


.Cfooter-info dd{ padding-right: 80px;}
.Cfooter-info dd.f-sao1{ padding-right: 0;  margin-left: 35px; }
.Cfooter-info dd.f-sao2{ padding-right: 0px; }
.Cfooter-cr a { padding: 0 20px 0 0;}

/*窄屏*/
.Wmin .Chead-main, .Wmin .Cfooter .w1000, .Wmin .Cfooter-copyright, .Wmin .Chead-info-box {width: 960px;}
.Wmin .Cfooter_service ul li{ margin-left:80px;}
.Wmin .Cfooter-info dt{  padding: 30px 20px 0 30px; }
.Wmin .Cfooter-info dd{  padding: 20px 30px 0 0;}
.Wmin .Chead-search{margin:29px 0 0 335px;}
.Wmin .Cfooter-service dl{margin:0px 0px 0 86px;width:230px;}
.Wmin .Cnav-main{width:960px;}
.Wmin #CnacNew{margin:0 0 0 -7px;}
.Wmin .fxbNav{left:283px;}
.Wmin .Chead-main{background:none;}
.Wmin .Cnav-one b.s3 {left: 287px;}
.Wmin .Chead-tip{ left:40%;}


/*登陆注册流程*/
.login{background:url(../images/12c218518332edf1c8e63ecfa97fb2c9.jpg) no-repeat center top #fbe1d3; min-height: 100%;_height:100%;}
.register{background:url(../images/12c218518332edf1c8e63ecfa97fb2c9.jpg) no-repeat center top #fbe1d3;min-height: 100%;_height:100%;}
.lost_pass{background:url(../images/2e08bbd016a025dfceaaa18d68290541.jpg) no-repeat center top #e7c1c9; min-height: 100%;_height:100%;}
.un_login{background:url(../images/6be5a6e9771b949dcf63313c0cc610e7.jpg) no-repeat center top #f1bcb4; min-height: 100%;_height:100%;}
.loginfooter{height:180px; background:#fff; width:100%; padding:22px 0;  display:table;    margin-top: 175px; left: 0; bottom: 0; position:relative;}

.busy{background:url(../images/f69ebe1e6d704cc3693d2608cf0aecd9.jpg) no-repeat center top #ffffff; min-height: 100%;_height:100%;}



/*新客送券*/
.voucher{background:#000; width:100%; height:1000px;filter: alpha(opacity=80); opacity:0.8; position:absolute; top:0; left:0;z-index:1200;}
.voucherLink{ position: fixed; _position:absolute; width:660px; height:280px; top:50%; left:50%; margin:-140px 0 0 -330px; z-index:1201;}
.voucherLink a.toReg{display: block; width:183px; height:40px; position:absolute; top:183px; left:237px;}
.voucherLink a.close{display: block;}
/*新客区域选择*/
.regionalTipsBk{position:absolute; top:0; left:0; width:100%; height:100%; background:#000; filter:alpha(opacity=0);opacity:0; z-index:140;}
.regionalTipBox{position:absolute; top:50%; left:50%; margin-left:-270px; margin-top:-152px; width:540px; height:355px; display:none; z-index:150;}
.rtTitle span{display:block; font-size:0; overflow:hidden; height:5px;}
.rtTitle h1{background:#fcfbf8; font-size:16px; height:54px; line-height:54px; text-indent:23px;}
.rtTable{border-top:1px dashed #baa780; background:#fcfbf8; width:540px; height:280px; overflow:hidden; font-family:'\5B8B\4F53'}
.rtTable dl{border-bottom:1px solid #ddd6c8; color:#333; font-size:14px;}
.rtTable dl dd{width:100px; height:40px; line-height:40px; text-align:center; border-right:1px solid #ddd6c8; background:#f1eee8;}
.rtTable dl dd,.rtTable dl dt{display:inline-block; *display:inline; *zoom:1;}
.rtTable dl dt{padding-left:20px;}
.rtTable dl dt a{display:inline-block; margin:0 5px; padding:2px 6px;}
.rtTable dl dt a:hover{background:#ddd6c8; color:#fff; border-radius: 5px; margin:0 5px;}
.rtBottom{ font-size:0; overflow:hidden; height:5px;}



/*加入购物车弹层*/
.alt-succ{display:none;position:fixed;z-index:1001;width:508px; padding:50px 10px 50px;background:#fff;border: 1px solid rgb(226, 211, 170);overflow: visible;border-radius:8px; left:50%; top:50%; margin-left:-264px;margin-top:-125px; }
.alt-succ .sum{padding:10px 0 0 150px; overflow:hidden;background: rgb(255, 255, 255); color: rgb(153, 153, 153);}
.alt-succ .succ-ico{}
.alt-succ h3{font-size:22px;font-weight: normal;line-height:35px; color:#333; font-family:Microsoft YaHei;}
.alt-succ p{line-height:45px;}
.alt-succ .sum .pay{margin:2px 15px 5px 0;}
.alt-succ .sum a{color:#ca8516;}
.alt-succ .sum b{ color:#333; font-weight:bold;}
.alt-succ .succ-close{position:absolute;top:10px;right:10px; width:15px;height:15px; text-indent:-9999px;overflow:hidden;}
.failure{ padding:20px 10px 30px; color:#818181;}
.failure h3{color:#818181;}
.failure .sum{ padding-left:10px; text-align:center;}
.failure .succ-ico{position:static; vertical-align:middle;background-position: 0px -38px; top:29px;display:inline-block}
.failure .right{width:37px;height:35px;display:inline-block; vertical-align:middle; margin-right:40px;}
.failure .wrong{width:37px;height:35px;display:inline-block; vertical-align:middle; margin-right:40px;}


.scroll-to-top{width:50px; height:60px; display: none; position: fixed; bottom:100px; left: 50%; margin-left: 520px; background-color: #fff; border:1px #ccc solid; cursor: pointer;}
.scroll-to-top i{display:inline-block; background: url(../images/556ffa7b021b37316bfd2c3356022fcd.png) no-repeat -229px -243px; width: 27px; height:39px;  margin: 12px;}
.scroll-to-top:hover{background-color: #e5e4e4;}


.class-6-dl,.class-7-dl,.class-8-dl,.class-9-dl,.class-10-dl,.class-11-dl,.class-12-dl,.class-13-dl,.class-14-dl,.class-15-dl,.class-16-dl,.class-17-dl,.class-18-dl,.class-19-dl,.class-20-dl,.class-21-dl,.class-22-dl,.class-23-dl,.class-24-dl,.class-25-dl,.class-26-dl,.class-27-dl,.class-28-dl,.class-29-dl,.class-30-dl{
    display: none !important;
}





